@model Microflake.Core.ViewModel.SubCategories.EditSubCategory


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "inputForm" }))
{




    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Status)
    <div style="margin-left:-15px;margin-right:-15px;">
        <div class="form-group">
            <label class="col-md-12"> Category</label>
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.CategoryId, null, "Select Category", new { @class = "form-control" })

            </div>
        </div>

    </div>
    <div class="form-group" style="margin-left:-15px;margin-right:-15px;">
        <label class="col-md-12">Name</label>
        <div class="col-md-12">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">


        <div class="toggle lg">

            <label>
                @if (Model.Status)
                {

                    <input id="switch" name="Status" type="checkbox" checked><span class="button-indecator"></span>
                }
                else
                {

                    <input id="switch" name="Status" type="checkbox"><span class="button-indecator"></span>
                }
            </label>
        </div>
    </div>
}
<script>


    $('select').select2();
    $("#switch").click(function () {
        debugger
        var status = $("#Status").val();
        if (status == "False") {
            $("#Status").val("True");
        } else {
            $("#Status").val("False");
        }
    });
</script>
