@using Microflake.Core.ViewModel
@model Microflake.Core.ViewModel.Products.ListProduct
<!-- slider-main-area start -->

<div class="slider-main-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="slider-active owl-carousel owl-loaded owl-drag">


                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-2220px, 0px, 0px); transition: all 0s ease 0s; width: 6660px;">
                            <div class="owl-item cloned" style="width: 1110px;">
                                <div class="slider-wrapper-4" style="background-image:url(/content/FrontEnd/img/slider/home-04-1.jpg)">
                                    <div class="row">
                                        <div class="col-lg-6 offset-md-1 col-md-8 col-12">
                                            <div class="slider-text-info style-4 slider-text-animation">
                                                <h2 class="title1">handbag for men’s 2018</h2>
                                                <h1 class="sub-title">Drawstring Backpack In Black</h1>
                                                <div class="slider-1-des">
                                                    <p>Boston based brand, New Balance began life in the 1900s as an arch support company. </p>
                                                </div>
                                                <div class="slier-btn-1">
                                                    <a title="shop now" href="#" class="btn">shop now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 1110px;">
                                <div class="slider-wrapper-4" style="background-image:url(/content/FrontEnd/img/slider/home-04-2.jpg)">
                                    <div class="row">
                                        <div class="col-lg-6 offset-md-1 col-md-8 col-12">
                                            <div class="slider-text-info style-4  slider-text-animation">
                                                <h2 class="title1">SPRING  for men’s 2018</h2>
                                                <h1 class="sub-title">Spiral Classic handbag In Navy 2018</h1>
                                                <div class="slider-1-des">
                                                    <p>Bored with the basic backpack, Spiral's bags pack a punch with bold, striking designs.</p>
                                                </div>
                                                <div class="slier-btn-1">
                                                    <a title="shop now" href="#" class="btn">shop now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item active" style="width: 1110px;">
                                <div class="slider-wrapper-4" style="background-image:url(/content/FrontEnd/img/slider/home-04-1.jpg)">
                                    <div class="row">
                                        <div class="col-lg-6 offset-md-1 col-md-8 col-12">
                                            <div class="slider-text-info style-4 slider-text-animation">
                                                <h2 class="title1">handbag for men’s 2018</h2>
                                                <h1 class="sub-title">Drawstring Backpack In Black</h1>
                                                <div class="slider-1-des">
                                                    <p>Boston based brand, New Balance began life in the 1900s as an arch support company. </p>
                                                </div>
                                                <div class="slier-btn-1">
                                                    <a title="shop now" href="#" class="btn">shop now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 1110px;">
                                <div class="slider-wrapper-4" style="background-image:url(/content/FrontEnd/img/slider/home-04-2.jpg)">
                                    <div class="row">
                                        <div class="col-lg-6 offset-md-1 col-md-8 col-12">
                                            <div class="slider-text-info style-4  slider-text-animation">
                                                <h2 class="title1">SPRING  for men’s 2018</h2>
                                                <h1 class="sub-title">Spiral Classic handbag In Navy 2018</h1>
                                                <div class="slider-1-des">
                                                    <p>Bored with the basic backpack, Spiral's bags pack a punch with bold, striking designs.</p>
                                                </div>
                                                <div class="slier-btn-1">
                                                    <a title="shop now" href="#" class="btn">shop now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 1110px;">
                                <div class="slider-wrapper-4" style="background-image:url(/content/FrontEnd/img/slider/home-04-1.jpg)">
                                    <div class="row">
                                        <div class="col-lg-6 offset-md-1 col-md-8 col-12">
                                            <div class="slider-text-info style-4 slider-text-animation">
                                                <h2 class="title1">handbag for men’s 2018</h2>
                                                <h1 class="sub-title">Drawstring Backpack In Black</h1>
                                                <div class="slider-1-des">
                                                    <p>Boston based brand, New Balance began life in the 1900s as an arch support company. </p>
                                                </div>
                                                <div class="slier-btn-1">
                                                    <a title="shop now" href="#" class="btn">shop now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 1110px;">
                                <div class="slider-wrapper-4" style="background-image:url(/content/FrontEnd/img/slider/home-04-2.jpg)">
                                    <div class="row">
                                        <div class="col-lg-6 offset-md-1 col-md-8 col-12">
                                            <div class="slider-text-info style-4  slider-text-animation">
                                                <h2 class="title1">SPRING  for men’s 2018</h2>
                                                <h1 class="sub-title">Spiral Classic handbag In Navy 2018</h1>
                                                <div class="slider-1-des">
                                                    <p>Bored with the basic backpack, Spiral's bags pack a punch with bold, striking designs.</p>
                                                </div>
                                                <div class="slier-btn-1">
                                                    <a title="shop now" href="#" class="btn">shop now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-main-area start --><!-- main-search start -->
<div class="main-search-active">
    <div class="sidebar-search-icon">
        <button class="search-close"><span class="icon-close"></span></button>
    </div>
    <div class="sidebar-search-input">
        <form>
            <div class="form-search">
                <input id="search" class="input-text" value="" placeholder="Search entire store here ..." type="search">
                <button class="search-btn" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<!-- main-search start -->
<!-- section-area start -->
<div class="section-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- corporate-about-section start -->
                <div class="corporate-about-section border-bottom-dashed">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <!-- single-corporate-wrap start -->
                            <div class="single-corporate-wrap mt-35">
                                <div class="corporate-icon">
                                    <i class="icon-globe-alt icons"></i>
                                </div>
                                <div class="corporate-info">
                                    <p>free shipping</p>
                                    <span>Free shipping on all order</span>
                                </div>
                            </div>
                            <!-- single-corporate-wrap end -->
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <!-- single-corporate-wrap start -->
                            <div class="single-corporate-wrap mt-35">
                                <div class="corporate-icon">
                                    <i class="icon-earphones-alt icons"></i>
                                </div>
                                <div class="corporate-info">
                                    <p>Online Support 24/7</p>
                                    <span>We support online 24 hours</span>
                                </div>
                            </div>
                            <!-- single-corporate-wrap end -->
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <!-- single-corporate-wrap start -->
                            <div class="single-corporate-wrap mt-35">
                                <div class="corporate-icon">
                                    <i class="icon-reload icons"></i>
                                </div>
                                <div class="corporate-info">
                                    <p>Money Back Guarantee!</p>
                                    <span>30 day money back guarantee!</span>
                                </div>
                            </div>
                            <!-- single-corporate-wrap end -->
                        </div>
                    </div>
                </div>
                <!-- corporate-about-section end -->
            </div>
        </div>
    </div>
</div>
<!-- section-area end -->
<!-- product-area start -->
<div class="product-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-title text-center mb-50">
                    <h4>our products</h4>
                    <h2>Best seller products </h2>
                    <div class="module-description">
                        <p>Discover the best selling products of T90 stores. All the products are listed weekly in store, helping customers capture products are best sellers.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content-wrap">
            <div class="container">

                <div class="row">
                    <div class="col-lg-3 order-2 order-lg-1">
                        
                        <!-- filter-wrapper start -->
                        <div class="filter-wrapper pt-100">
                            <div class="single-categories-1 blog-search">
                                <h3 class="blog-categorie-title">Search</h3>
                                <form role="search" method="get" action="@Url.Action("Index", "Home")" class="blog-search-form">
                                    <div class="form-input">
                                        <input type="text" class="input-text" placeholder="Search …" value="@Model.SearchTerm" name="searchTerm">
                                        <button type="submit" class="blog-search-button"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                            <!-- filter-wrap start -->
                            <div class="filter-wrap mb-30">
                                <h4 class="filter-title">Price</h4>
                                <!-- filter-price-content start -->
                                <div class="filter-price-content">
                                    <form action="#" method="post">
                                        <div id="price-slider" class="price-slider"></div>
                                        <div class="filter-price-wapper">
                                            <div class="filter-price-cont">
                                                <div class="input-type">
                                                    <input type="text" class="amount" value="0" id="min-price" readonly="" />
                                                </div>
                                                <span>—</span>
                                                <div class="input-type">
                                                    <input type="text" class="amount" id="max-price" readonly="" />
                                                </div>
                                                @*<p class="amount input-type" >
                                Price: <input type="text" id="amount" disabled="">
                            </p>*@
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <!-- filter-price-content end -->
                            </div>
                            <!-- filter-wrap end -->
                            
                            <!-- filter-wrap start -->
                            <div class="filter-wrap mb-30">

                                <div class="list_group_item">
                                    <article class="filter-group">
                                        @foreach (var category in Model.Categorylist)
                                        {<h4 data-href="@Url.Action("FilterProduct", "Home", new {  categoryID = category.Id ,sortBy = Model.SortBy })" class="dataLink @(Model.CategoryID.HasValue && Model.CategoryID.Value == category.Id ? "checked" : string.Empty) " class="filter-title">@category.Name</h4>
                                            @*@*<header class="card-header">
                <a data-href="@Url.Action("FilterProduct", "Home", new {  categoryID = category.Id ,sortBy = Model.SortBy })"  class="dataLink @(Model.CategoryID.HasValue && Model.CategoryID.Value == category.Id ? "checked" : string.Empty) " data-toggle="collapse" data-target="#collapse_aside1" data-abc="true" aria-expanded="false" class="collapsed">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">@category.English </h6>
                </a>
            </header>*@
                                            @*<div class="filter-content collapse" id="collapse_aside1" style="">
            <div class="card-body">*@
                                            <ul class="list-menu">
                                                @foreach (var item in Model.SubCategorylist.Where(x => x.CategoryId == category.Id))
                                                {


                                                    <li>
                                                        <label class="custom-control">
                                                            <input data-href="@Url.Action("FilterProduct", "Home", new {  subcategoryID = item.Id ,sortBy = Model.SortBy })" type="checkbox" class="dataLink @(Model.CategoryID.HasValue && Model.CategoryID.Value == category.Id ? "checked" : string.Empty) custom-control-input">
                                                            <span class="custom-control-label">@item.Name </span>
                                                        </label>
                                                    </li>
                                                }
                                            </ul>

                                        }
                                    </article>
                                    <ul>
                                        @*@foreach (var category in Model.SubCategorylist)
                                        {
                                            <li>
                                                <label class="custom-control">
                                                    <input  data-href="@Url.Action("FilterProduct", "Home", new {  categoryID = category.Category.Id ,sortBy = Model.SortBy })" type="checkbox" class="dataLink @(Model.CategoryID.HasValue && Model.CategoryID.Value == category.Id ? "checked" : string.Empty) custom-control-input">
                                                    <span class="custom-control-label">@category.Category.English </span>
                                                </label>
                                            </li>
                                        }*@

                                    </ul>
                                </div>
                            </div>
                            <!-- filter-wrap end -->
                            <!-- filter-wrap start -->
                            <div class="filter-wrap mb-30">
                                <h4 class="filter-title">Sorting Filters</h4>
                                <div class="list_group_item">
                                    <ul>
                                        <li>
                                            <label class="custom-control">
                                                <input @*checked=""*@ data-href="@Url.Action("FilterProduct", "Home", new { sortBy = (int)SortByEnum.Default, categoryID = Model.CategoryID  })" type="checkbox" class="dataLink @(Model.SortBy.HasValue ? Model.SortBy.Value == (int)SortByEnum.Default ? "checked" : string.Empty : string.Empty) custom-control-input">
                                                <span class="custom-control-label">Default - Newest </span>
                                            </label>
                                            <label class="custom-control">
                                                <input @*checked=""*@ data-href="@Url.Action("FilterProduct", "Home", new { sortBy = (int)SortByEnum.Popularity, categoryID = Model.CategoryID  })" type="checkbox" class="dataLink @(Model.SortBy.HasValue ? Model.SortBy.Value == (int)SortByEnum.Popularity ? "checked" : string.Empty : string.Empty) custom-control-input">
                                                <span class="custom-control-label">Popularity </span>
                                            </label>
                                            <label class="custom-control">
                                                <input @*checked=""*@ data-href="@Url.Action("FilterProduct", "Home", new { sortBy = (int)SortByEnum.PriceLowToHigh, categoryID = Model.CategoryID  })" type="checkbox" class="dataLink @(Model.SortBy.HasValue ? Model.SortBy.Value == (int)SortByEnum.PriceLowToHigh ? "checked" : string.Empty : string.Empty) custom-control-input">
                                                <span class="custom-control-label">Price: low to high </span>
                                            </label>
                                            <label class="custom-control">
                                                <input @*checked=""*@ data-href="@Url.Action("FilterProduct", "Home", new { sortBy = (int)SortByEnum.PriceHighToLow, categoryID = Model.CategoryID  })" type="checkbox" class="dataLink @(Model.SortBy.HasValue ? Model.SortBy.Value == (int)SortByEnum.PriceHighToLow ? "checked" : string.Empty : string.Empty) custom-control-input">
                                                <span class="custom-control-label">Price: high to low </span>
                                            </label>
                                            <label class="custom-control">
                                                <input @*checked=""*@ data-href="@Url.Action("FilterProduct", "Home", new { sortBy = (int)SortByEnum.Between0to50, categoryID = Model.CategoryID  })" type="checkbox" class="dataLink @(Model.SortBy.HasValue ? Model.SortBy.Value == (int)SortByEnum.Between0to50 ? "checked" : string.Empty : string.Empty) custom-control-input">
                                                <span class="custom-control-label">Price: 0 to 500 </span>
                                            </label>
                                            <label class="custom-control">
                                                <input @*checked=""*@ data-href="@Url.Action("FilterProduct", "Home", new { sortBy = (int)SortByEnum.Between50to100, categoryID = Model.CategoryID  })" type="checkbox" class="dataLink @(Model.SortBy.HasValue ? Model.SortBy.Value == (int)SortByEnum.Between50to100 ? "checked" : string.Empty : string.Empty) custom-control-input">
                                                <span class="custom-control-label">Price: 500 to 1000 </span>
                                            </label>
                                            <label class="custom-control">
                                                <input @*checked=""*@ data-href="@Url.Action("FilterProduct", "Home", new { sortBy = (int)SortByEnum.Between100to150, categoryID = Model.CategoryID  })" type="checkbox" class="dataLink @(Model.SortBy.HasValue ? Model.SortBy.Value == (int)SortByEnum.Between100to150 ? "checked" : string.Empty : string.Empty) custom-control-input">
                                                <span class="custom-control-label">Price: 1000 to 1500 </span>
                                            </label>
                                            <label class="custom-control">
                                                <input @*checked=""*@ data-href="@Url.Action("FilterProduct", "Home", new { sortBy = (int)SortByEnum.Between150to200, categoryID = Model.CategoryID  })" type="checkbox" class="dataLink @(Model.SortBy.HasValue ? Model.SortBy.Value == (int)SortByEnum.Between150to200 ? "checked" : string.Empty : string.Empty) custom-control-input">
                                                <span class="custom-control-label">Price: 1500 to 2000 </span>
                                            </label>

                                        </li>

                                    </ul>

                                </div>
                            </div>
                            <!-- filter-wrap end -->
                            <!-- filter-wrap start -->
                            <a href="@Url.Action("Index", "Home")" class="btn mb-4" style="background-color:#9d4d4a; color:white;">Reset Filters</a>
                            <!-- filter-wrap end -->
                            <!-- filter-wrap start -->
                            <div class="filter-wrap">
                                <div class="single-banner-image">
                                    <a href="#"><img alt="" src="/content/FrontEnd/img/banner/4.jpg"></a>
                                </div>
                            </div>
                            <!-- filter-wrap end -->
                        </div>
                        <!-- filter-wrapper end -->
                    </div>
                    <div class="col-lg-9 order-1 order-lg-2">
                        <div class="shop-top-bar pt-100">

                            <!-- product-select-box start -->
                            @*<div class="product-select-box">
                                    <div class="product-short">
                                        <label>Sort By: </label>
                                        <select class="nice-select">
                                            <option value="Relevance">Relevance</option>
                                            <option value="Name">Name (A - Z)</option>
                                            <option value="Name">Name (Z - A)</option>
                                            <option value="Price">Price (Low &gt; High)</option>
                                            <option value="Rating">Rating (Lowest)</option>
                                            <option value="Model-asc">Model (A - Z)</option>
                                            <option value="Model-az">Model (Z - A)</option>
                                        </select>
                                    </div>
                                </div>*@
                            <!-- product-select-box end -->
                        </div>
                        <div class="shop-products-wrapper" id="ProductsDiv">


                            @{

                                Html.RenderPartial("FilterProduct", Model);

                            }
                            <!--  shop-products-wrapper end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="shop-products-wrapper" id="ProductsDiv">


                @{

                    Html.RenderPartial("FilterProduct", Model);

                }
                  shop-products-wrapper end
            </div>*@
    </div>
</div>
<!-- product-area end -->
<!-- banner-area start -->


<div class="banner-area">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-6 col-md-6">
                <div class="single-banner-image">
                    <a href="#"><img src="/content/FrontEnd/img/banner/3.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 r-mt-30">
                <div class="single-banner-image ">
                    <a href="#"><img src="/content/FrontEnd/img/banner/4.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3  r-mt-30">
                <div class="single-banner-image">
                    <a href="#"><img src="/content/FrontEnd/img/banner/5.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner-area end -->
<!-- latest-blog-area start -->
<div class="latest-blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-title text-center mb-50">
                    <h4>our news</h4>
                    <h2>Unique blog style </h2>
                    <div class="module-description">
                        Update the latest fashion trends of the shop T90, useful articles to help you learn about fashion and the latest styles.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="latest-blog-active owl-carousel">
                <div class="col">
                    <div class="singel-latest-blog">
                        <div class="aritcles-content">
                            <div class="author-name">
                                post by:<a href="#"> Author Name</a> - 30 Oct 2018
                            </div>
                            <a href="#" class="articles-name">Best of Hair & Makeup New York Spring/Summer 2018 - 360° Experience</a>
                        </div>
                        <div class="articles-image">
                            <a href="#">
                                <img src="/content/FrontEnd/img/blog/1.jpg" alt="">
                                <span class="blog-action">
                                    <i class="icon-picture icons"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="singel-latest-blog">
                        <div class="aritcles-content">
                            <div class="author-name">
                                post by:<a href="#"> Author Name</a> - 11 may 2018
                            </div>
                            <a href="#" class="articles-name">Best of Hair & Makeup New York Spring/Summer 2016 - 360° Experience</a>
                        </div>
                        <div class="articles-image">
                            <a href="#">
                                <img src="/content/FrontEnd/img/blog/2.jpg" alt="">
                                <span class="blog-action">
                                    <i class="icon-picture icons"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="singel-latest-blog">
                        <div class="aritcles-content">
                            <div class="author-name">
                                post by:<a href="#"> Author Name</a> - 25 July 2018
                            </div>
                            <a href="#" class="articles-name">London Fashion Week 360° Candy Rock & Royal Fashion Day</a>
                        </div>
                        <div class="articles-image">
                            <a href="#">
                                <img src="/content/FrontEnd/img/blog/3.jpg" alt="">
                                <span class="blog-action">
                                    <i class="icon-picture icons"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="singel-latest-blog">
                        <div class="aritcles-content">
                            <div class="author-name">
                                post by:<a href="#"> Author Name</a> - 21 Jun 2018
                            </div>
                            <a href="#" class="articles-name">Mercedes Benz Fashion Week – Mirror To The Soul 360• Experience</a>
                        </div>
                        <div class="articles-image">
                            <a href="#">
                                <img src="/content/FrontEnd/img/blog/4.jpg" alt="">
                                <span class="blog-action">
                                    <i class="icon-picture icons"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- latest-blog-area end -->

@section scripts{
    <script>
      $('input:checkbox').click(function() {
        $('input:checkbox').not(this).prop('checked', false);
    });
         $(".dataLink").click(function () {

        var url = $(this).attr("data-href");

        if (url != "" || url != undefined) {
            GetData(url);
        }
        });
         function GetData(dUrl) {

		console.log("getdata in");
		//showLoader();

		$.ajax({
           url: dUrl,
			data: {
				minimumPrice : priceSlider.slider("values", 0),
				maximumPrice : priceSlider.slider("values", 1)
			}
		})
        .done(function (response) {
            console.log("done");

        	$("#ProductsDiv").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	console.log("fail");
        	alert("FAIL");
        })
		.always(function(){
			console.log("always");

		});
		console.log("getdata out");
	}


        // Price Range Slider
        var callTimeout;
          $("#min-price").val(0);

        $("#max-price").val( @Model.MaximumPrice);
	    var priceSlider = $(".price-slider").slider({
		range: true,
		min: 0,
		max: @Model.MaximumPrice,
		values: [0,@Model.MaximumPrice],
        slide: function (event, ui) {
            debugger
			var minPrice = ui.values[0];
			var maxPrice = ui.values[1];
            //var minPrice =$("#min-price").val();
            //var maxPrice = $("#max-price").val();

            $("#min-price").val(minPrice);

            $("#max-price").val(maxPrice);
			//$(".amount").val("$" + minPrice + ".00" + " - " + "$" + maxPrice + ".00");
            //$(".amount").val("$" + minPrice + ".00" + " - " + "$" + maxPrice + ".00");

			clearTimeout(callTimeout);
			callTimeout = setTimeout(PriceRangeChange, 500);
		}
    });
        function PriceRangeChange(){
		$.ajax({
			url: '@Url.Action("FilterProduct", "Home")',
			data: {
				searchTerm: $("#SearchTerm").val(),
				sortBy: $("#SortBy").val(),
                categoryID: $("#CategoryID").val(),
                 subcategoryID: $("#SubCategoryID").val(),

				minimumPrice : $("#min-price").val(),
				maximumPrice : $("#max-price").val()
			}
		})
        .done(function (response) {
        	$("#ProductsDiv").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
	}
        //





    </script>
}
