@model Microflake.Core.ViewModel.Category.EditCategory

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "inputForm" ,autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="col-md-12">Name</label>
        <div class="col-md-12">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="custom-control custom-checkbox">
            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "custom-control-input" } })
            <label class="custom-control-label" for="Status">@Microflake.Web.Language.Language.Status</label>
        </div>
    </div>
}