@model Microflake.Core.ViewModel.Profile.SuperAdminProfileViewModel
@using Microsoft.AspNet.Identity
@using System.Data.Entity
@{
    var routeData = Request.RequestContext.RouteData;
    var AreaName = routeData.DataTokens["area"].ToString();
    var ControllerName = "/" + AreaName + "/" + routeData.Values["Controller"].ToString();
    var CurrentUser = Microflake.Core.Utilities.GetCurrentUser.Get(User.Identity.GetUserId());

}

<style>
    textarea {
        resize: none;
    }

    #imagePreview {
        width: 100%;
    }

    .image-wrapper {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        width: 226px !important;
        height: 222px !important;
        overflow: hidden;
    }

        .image-wrapper:hover .select-image {
            visibility: visible;
            opacity: 1;
        }

    .select-image {
        position: absolute;
        width: 223px;
        height: 169px;
        top: 0;
        background: rgba(0,0,0,0.5);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        cursor: pointer;
    }

        .select-image i {
            font-size: 50px;
            margin: 28% 41%;
            color: #c0c0c0;
        }

    .modal-dialog {
        width: 80%;
    }

    .day-btn-wrapper {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
        width: 100%;
    }

    .profile-card {
        background-color: #fff;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 50px;
        position: relative
    }
</style>




<div class="profile-card">

    <div class="row">
        <div class="col-md-7">

            <form id="changePassword" method="post" autocomplete="off">
                @Html.AntiForgeryToken()
                <h1 style="margin-left:15px;">@Microflake.Web.Language.Language.Update_Profile</h1>
                <hr style="margin-bottom: 40px;" />
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-12">@Microflake.Web.Language.Language.Old_Password</label>
                            <div class="col-md-12 form-has-image">
                                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Old Password" } })
                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">@Microflake.Web.Language.Language.New_Password</label>
                            <div class="col-md-12 form-has-image">
                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "New Password" } })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">@Microflake.Web.Language.Language.Confirm_Password</label>
                            <div class="col-md-12 form-has-image">
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Confirm Password" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <button id="btnChangePassword" class="btn btn-primary">@Microflake.Web.Language.Language.Update_Profile</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-5">
            <div class="image-wrapper">
                <img id="imagePreview" src="@Config.Profile@(CurrentUser.Id).jpg?v=@(DateTime.UtcNow.Ticks)" onerror="this.src='/Public/default-image.jpg';" />

                @*<img id="imagePreview" src="@Config.Profile@(CurrentUser.Id).jpg?v=@(DateTime.UtcNow.Ticks)" onerror="this.src='/Public/default-image.jpg';" />*@
                <div class="select-image">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
            <input type="file" name="profile" id="uploadProfileImage" style="display:none" />
            @Html.HiddenFor(model => model.ProfileImage)
            @Html.ValidationMessageFor(model => model.ProfileImage, "", new { @class = "text-danger image-error" })
        </div>
    </div>

</div>
@section Scripts{
    <script>
        $('#InputForm select').select2();




        $(".select-image").click(function () {
        $("#uploadProfileImage").trigger("click");
    });

    $("#uploadProfileImage").change(function () {
        $(".select-image").html('<i class="fa fa-spinner fa-spin"></i>');

        var profileImage = new FormData();
        var file = $(this)[0].files[0];
        profileImage.append("profile", file)

        $.ajax({
            url: "/@AreaName/SuperAdminProfile/Upload",
            type: "post",
            data: profileImage,
            contentType: false,
            processData: false,
            success: function (response) {
                debugger
                if (response.status) {
                    $("#ProfileImage").val(response.file);
                    $("#imagePreview").attr("src", "@Config.Profile" + response.file);
                    $(".select-image").html('<i class="fa fa-plus"></i>');
                      $(".image-error").html("");
                } else {
                    $(".image-error").html(response.message);
                    $(".select-image").html('<i class="fa fa-plus"></i>');
                }
            }
        });
    });
        $("#changePassword").submit(function (e) {
            e.preventDefault();

            $("#btnChangePassword").html('<i class="fa fa-spinner fa-spin"></i> Update Password');
            $("#btnChangePassword").attr("disabled", true);

             $.ajax({
                 url: "@ControllerName/UpdatePassword",
                type: "post",
                 data: $("#changePassword").serialize(),
                success: function (response) {
                    if (response.status) {
                        $(".text-danger").html("");

                        $("#changePassword")[0].reset();

                        $.simplyToast(response.message, 'success');
                        window.location.href = "/account/LogOff";
                    }
                    else if (response.status == false && response.validation == false) {
                        $(".text-danger").html("");
                        $.simplyToast(response.message, 'danger');

                        for (var i = 0; i < response.errors.length; i++) {
                            $("[data-valmsg-for='" + response.errors[i].Key + "']").html(response.errors[i].Errors[0]);
                        }
                    } else {
                        $.simplyToast(response.message, 'danger');
                    }

                    $("#btnChangePassword").html('Update Password');
                    $("#btnChangePassword").attr("disabled", false);
                 },
                 error: function (e) {
                     $("#btnChangePassword").html('Update Password');
                     $("#btnChangePassword").attr("disabled", false);
                 }
            });
        });
    </script>
}

