﻿@model Microflake.Core.ViewModel.CustomVariations.EditVariation
@{
    var routeData = Request.RequestContext.RouteData;
    var area = routeData.DataTokens["area"].ToString();
    var ControllerName = "/" + area + "/" + routeData.Values["Controller"].ToString();
}
<style>
    /*Front Image*/
    #imagePreview1 {
        width: 100%;
    }

    .image-wrapper1 {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        width: 172px !important;
        height: 131px !important;
        overflow: hidden;
    }

        .image-wrapper1:hover .select-image1 {
            visibility: visible;
            opacity: 1;
        }

    .select-image1 {
        position: absolute;
        width: 170px;
        height: 170px;
        top: 0;
        background: rgba(0,0,0,0.5);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        cursor: pointer;
    }

    /*Bottom Image*/
    #imagePreview2 {
        width: 100%;
    }

    .image-wrapper2 {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        width: 172px !important;
        height: 131px !important;
        overflow: hidden;
    }

        .image-wrapper2:hover .select-image2 {
            visibility: visible;
            opacity: 1;
        }

    .select-image2 {
        position: absolute;
        width: 170px;
        height: 170px;
        top: 0;
        background: rgba(0,0,0,0.5);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        cursor: pointer;
    }

    /*Front Image*/
    #imagePreview3 {
        width: 100%;
    }

    .image-wrapper3 {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        width: 172px !important;
        height: 131px !important;
        overflow: hidden;
    }

        .image-wrapper3:hover .select-image3 {
            visibility: visible;
            opacity: 1;
        }

    .select-image3 {
        position: absolute;
        width: 170px;
        height: 170px;
        top: 0;
        background: rgba(0,0,0,0.5);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        cursor: pointer;
    }

    .select-image i {
        font-size: 50px;
        margin: 28% 36%;
        color: #c0c0c0;
    }

    .modal-dialog {
        width: 80%;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "inputForm", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.Id)

    <div style="margin-left:-15px;margin-right:-15px;">
        <div class="form-group">
            <label class="col-md-12">Color</label>
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.ColorId, null, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ColorId, "", new { @class = "text-danger" })
                <img id="img101" src="" width="100" />
            </div>
        </div>
    </div>

    <div style="margin-left:-15px;margin-right:-15px;">
        <div class="form-group">
            <label class="col-md-12">Item</label>
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.ItemId, null, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
                <img id="img102" src="" width="100" />
            </div>
        </div>
    </div>

    <div class="row">
        <label class="col-md-12">Front Image</label>
        <div class="col-md-12">
            <div class="image-wrapper1">
                <img id="imagePreview1" src="@Config.CustomProducts@(Model.FrontImage)" />
                <div class="select-image1">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
            <input type="file" name="FrontImage" class="uploadImage1" style="display:none" />
            @Html.HiddenFor(model => model.FrontImage)
            @Html.ValidationMessageFor(model => model.FrontImage, "", new { @class = "text-danger image-error1" })
            <br />
        </div>
        @*<label class="col-md-12">Back Image</label>
        <div class="col-md-12">
            <div class="image-wrapper2">
                <img id="imagePreview2" src="@Config.CustomProducts@(Model.BackImage)" />
                <div class="select-image2">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
            <input type="file" name="BackImage" class="uploadImage2" style="display:none" />
            @Html.HiddenFor(model => model.BackImage)
            @Html.ValidationMessageFor(model => model.BackImage, "", new { @class = "text-danger image-error2" })
            <br />
        </div>*@
        <label class="col-md-12">Bottom Image</label>
        <div class="col-md-12">
            <div class="image-wrapper3">
                <img id="imagePreview3" src="@Config.CustomProducts@(Model.BottomImage)" />
                <div class="select-image3">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
            <input type="file" name="BottomImage" class="uploadImage3" style="display:none" />
            @Html.HiddenFor(model => model.BottomImage)
            @Html.ValidationMessageFor(model => model.BottomImage, "", new { @class = "text-danger image-error3" })
            <br />
        </div>
    </div>
}
<script>
    $('#inputForm select').select2();

     $(".select-image1").click(function () {
        $(".uploadImage1").trigger("click");
    });

    $(".uploadImage1").change(function () {

        $(".select-image1").html('<i class="fa fa-spinner fa-spin"></i>');

        var profileImage = new FormData();
        var file = $(this)[0].files[0];
        profileImage.append("Image", file)

        $.ajax({
            url: "/@area/CustomVariations/upload",
            type: "post",
            data: profileImage,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.status) {
                    $("#FrontImage").val(response.file);
                    $("#imagePreview1").attr("src", "@Config.CustomProducts" + response.file);
                    $(".select-image1").html('<i class="fa fa-plus"></i>');
                    $(".image-error1").html("");
                } else {
                    $(".image-error1").html(response.message);
                    $(".select-image1").html('<i class="fa fa-plus"></i>');
                }
            }
        });
    });



     $(".select-image2").click(function () {
        $(".uploadImage2").trigger("click");
    });

    $(".uploadImage2").change(function () {

        $(".select-image2").html('<i class="fa fa-spinner fa-spin"></i>');

        var profileImage = new FormData();
        var file = $(this)[0].files[0];
        profileImage.append("Image", file)

        $.ajax({
            url: "/@area/CustomVariations/upload",
            type: "post",
            data: profileImage,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.status) {
                    $("#BackImage").val(response.file);
                    $("#imagePreview2").attr("src", "@Config.CustomProducts" + response.file);
                    $(".select-image2").html('<i class="fa fa-plus"></i>');
                    $(".image-error2").html("");
                } else {
                    $(".image-error2").html(response.message);
                    $(".select-image2").html('<i class="fa fa-plus"></i>');
                }
            }
        });
    });


      $(".select-image3").click(function () {
        $(".uploadImage3").trigger("click");
    });

    $(".uploadImage3").change(function () {

        $(".select-image3").html('<i class="fa fa-spinner fa-spin"></i>');

        var profileImage = new FormData();
        var file = $(this)[0].files[0];
        profileImage.append("Image", file)

        $.ajax({
            url: "/@area/CustomVariations/upload",
            type: "post",
            data: profileImage,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.status) {
                    $("#BottomImage").val(response.file);
                    $("#imagePreview3").attr("src", "@Config.CustomProducts" + response.file);
                    $(".select-image3").html('<i class="fa fa-plus"></i>');
                    $(".image-error3").html("");
                } else {
                    $(".image-error3").html(response.message);
                    $(".select-image3").html('<i class="fa fa-plus"></i>');
                }
            }
        });
    });

     $("#ColorId").change(function () {
        var id = $(this).val();
        $.ajax(
        {
                url: "/@area/Products/GetImageById?Id=" + id
        }
        ).done(function (response) {
            $("#img101").attr("src", "@Config.Products" + response.data.Image);
        });
    });

    $("#ItemId").change(function () {
        var id = $(this).val();
        $.ajax(
        {
                url: "/@area/Products/GetImageById?Id=" + id
        }
        ).done(function (response) {
            $("#img102").attr("src", "@Config.Products" + response.data.Image);
        });
    });

    $.ajax(
        {
            url: "/@area/Products/GetImageById?Id=" + $("#ColorId").val()
        }
        ).done(function (response) {
            $("#img101").attr("src", "@Config.Products" + response.data.Image);

             $.ajax(
            {
                url: "/@area/Products/GetImageById?Id=" + $("#ItemId").val()
            }
            ).done(function (response) {
                $("#img102").attr("src", "@Config.Products" + response.data.Image);
            });
        });

</script>