﻿@model Microflake.Core.ViewModel.ShoppingCartViewModel

<!--mini cart-->
@foreach (var item in Model.Items)
{
    var rate = item.Product.SellPrice * ViewBag.Currency;

    <div class="cart_item">
        <div class="cart_img">
            <a href="#"><img src="@Config.Products@(item.Product.Image)" onerror="this.src='/Public/default-image.jpg';"></a>
        </div>
        <div class="cart_info">
            <a href="#">@item.Product.Name</a>

            <span class="quantity">Qty:  @item.Count</span>
            <span class="price_cart">@ViewBag.CurrencySimbal @rate</span>

        </div>
        @*<div class="cart_remove">
                <a href="#"><i class="ion-android-close"></i></a>
            </div>*@
    </div>
}
<div class="cart_total">
    <span>Subtotal:</span>
    <span>@Model.Total</span>
</div>
<div class="mini_cart_footer">
    <div class="cart_button view_cart">
        <a href="/shop/CartItems">@Microflake.Web.Language.Language.ViewCart</a>
    </div>
    <div class="cart_button checkout">
        <a class="active" href="/shop/Checkout">@Microflake.Web.Language.Language.Checkout</a>
    </div>

</div>