@using Microsoft.AspNet.Identity;
@model Microflake.Core.ViewModel.Products.ListProduct
@{ ViewBag.Title = "FilterProduct";
    //Layout = null;
    //Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    .whislist {
        color: red;
    }
</style>



<!--shop tab product start-->
<div class="tab-content">
    <div class="tab-pane grid_view fade show active" id="large" role="tabpanel">
        <div class="row">
            @if (Model != null && Model.Productlist.Count() > 0)

            {
                foreach (var item in Model.Productlist)
                {

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single_product">
                            <div class="product_thumb">
                                <a class="primary_img" href="@((item.IsHasVariation)? "/CustomProduct?Id=" + item.Id:"/Home/Productdetail")"><img src="@Config.Products@(item.Image)" style="width:350px;height:250px" alt=""></a>
                                <a class="secondary_img" href="@((item.IsHasVariation)? "/CustomProduct?Id=" + item.Id:"/Home/Productdetail")"><img src="@Config.Products@(item.Image)" style="width:350px;height:250px" alt=""></a>
                                @*<div class="quick_button">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box" data-placement="top" data-original-title="quick view"> quick view</a>
                                </div>*@
                            </div>
                            <div class="product_content">
                                <div class="tag_cate">
                                    <a href="#">@item.SubCategory.Name</a>
                                    <a href="#">@item.SubCategory.Category.Name</a>
                                </div>
                                <h3><a href="@((item.IsHasVariation)? "/CustomProduct?Id" + item.Id:"/Home/Productdetail")">@item.Name</a></h3>
                                <div class="price_box">
                                    <span class="old_price">$ @item.Discount</span>
                                    <span class="current_price">$@item.SellPrice</span>
                                </div>
                                <div class="product_hover">
                                    <div class="product_ratings">
                                        <ul>
                                            @*<li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>*@
                                        </ul>
                                    </div>
                                    <div class="product_desc">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere metus vitae arcu imperdiet</p>
                                    </div>
                                    <div class="action_links">
                                        <ul>
                                            @* <li><a href="wishlist.html" data-placement="top" title="Add to Wishlist" data-bs-toggle="tooltip"><span class="icon icon-Heart"></span></a></li>*@
                                            @if (!item.IsHasVariation)
                                            {
                                                <li class="add_to_cart"><a href="@Url.Action("AddtoCart", "shop", new { controller = "Shop", id = item.Id })" title="add to cart">add to cart</a></li>
                                            }
                                            @* <li><a href="compare.html" title="compare"><i class="ion-ios-settings-strong"></i></a></li>*@
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> }

            }
            else
            {
                <div class="alert alert-warning mt-5" role="alert">
                    Sorry No Record Exist
                </div>}

        </div>
    </div>
    <div class="tab-pane list_view fade" id="list" role="tabpanel">
        <div class="single_product product_list_item">

            @if (Model != null && Model.Productlist.Count() > 0)

            {
                foreach (var item in Model.Productlist)
                {
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="product_thumb">
                                <a class="primary_img" href="@((item.IsHasVariation)? "/CustomProduct?Id=" + item.Id:"/Home/Productdetail")"><img src="@Config.Products@(item.Image)" style="width:350px;height:350px" alt=""></a>
                                <a class="secondary_img" href="/Home/Productdetail"><img src="@Config.Products@(item.Image)"  style="width:350px;height:350px" alt=""></a>
                                @*<div class="quick_button">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box" data-original-title="quick view"> quick view</a>
                                </div>*@
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7">
                            <div class="product_content">
                                <h3><a href="@((item.IsHasVariation)? "/CustomProduct?Id=" + item.Id:"/Home/Productdetail")">@item.Name</a></h3>
                                <div class="product_ratings">
                                    <ul>
                                        @*<li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>*@
                                    </ul>
                                </div>
                                <div class="product_desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et </p>
                                </div>
                                <div class="price_box">
                                    <span class="old_price">$@item.Discount</span>
                                    <span class="current_price">$@item.SellPrice</span>
                                </div>

                                <div class="action_links">
                                    <ul>
                                        @if (!item.IsHasVariation)
                                        {
                                            <li class="add_to_cart"><a href="@Url.Action("AddtoCart", "shop", new { controller = "Shop", id = item.Id })" title="add to cart">add to cart</a></li>
                                        }
                                        @*<li><a href="wishlist.html" title="Wishlist"><span class="icon icon-Heart"></span></a></li>*@
                                        @*<li><a href="compare.html" title="compare"><i class="ion-ios-settings-strong"></i></a></li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
            else
            {
                <div class="alert alert-warning mt-5" role="alert">
                    Sorry No Record Exist
                </div>}
        </div>
    </div>

</div>
<!--shop tab product end-->
<!--shop toolbar start-->
<div class="shop_toolbar t_bottom">
    <div class="pagination">
        <ul>
            @if (Model.Pager.TotalItems > Model.Pager.PageSize)
            {
                if (Model.Pager.CurrentPage > 1)
                {
                    <li>
                        <a class="pageDataLink" data-href="@Url.Action("FilterProduct", "Shop")">
                            <i class="la la-long-arrow-left"></i>First
                        </a>
                    </li>
                    <li>
                        <a class="pageDataLink" data-href="@Url.Action("FilterProduct", "Shop", new { page = Model.Pager.CurrentPage - 1, sortBy = Model.SortBy , categoryID = Model.CategoryID})">
                            <i class="la la-long-arrow-left"></i>Prev
                        </a>
                    </li>
                }
                for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class=" @(page == Model.Pager.CurrentPage ? "current" : "")">
                        <a class="pageDataLink" data-href="@Url.Action("FilterProduct", "Shop", new { page = page , sortBy = Model.SortBy, categoryID = Model.CategoryID})">@page</a>
                    </li>
                }
                if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li>
                        <a class="pageDataLink" data-href="@Url.Action("FilterProduct", "Shop", new { page = Model.Pager.CurrentPage + 1, sortBy = Model.SortBy, categoryID = Model.CategoryID})">
                            Next <i class="la la-long-arrow-right"></i>
                        </a>
                    </li>
                    <li class="next">
                        <a class="pageDataLink" data-href="@Url.Action("FilterProduct", "Shop", new { page = Model.Pager.TotalPages, sortBy = Model.SortBy, categoryID = Model.CategoryID})">
                            Last <i class="la la-long-arrow-right"></i>
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
</div>


<!--shop toolbar end-->
<!--shop wrapper end-->
<!-- tab-content start -->
<!-- tab-content end -->

<input type="hidden" id="MaximumPrice" value="@Model.MaximumPrice" />
<input type="hidden" id="SearchTerm" value="@Model.SearchTerm" />
<input type="hidden" id="SortBy" value="@Model.SortBy" />
<input type="hidden" id="CategoryID" value="@Model.CategoryID" />
<input type="hidden" id="SubCategoryID" value="@Model.SubCategoryID" />

<script src="/content/FrontEnd/js/vendor/jquery-1.12.4.min.js"></script>
<script>



    $(".pageDataLink").click(function () {
        var url = $(this).attr("data-href");

        if (url != "" || url != undefined) {
            GetData(url);
        }
    });

    $(".icon-heart").click(function () {

        var url = $(this).attr("data-href");
        debugger;
        var whishlist = document.getElementById("whislist_btn").classList.contains("whislist");
        if (whishlist == false) {

            $(this).addClass("whislist");
            $.ajax({
                url: url,
                type: 'post',
                //data: "year=" + year + "&month=" + Months,

                success: function (responce) {
                    debugger;

                    if (responce.status == true) {
                        $.simplyToast("Product Added to your Whishlist", 'success');
                        $.ajax({
                            type: "Post",
                            url: '/Whislist/WhishListCount'


                        }).done(
                            function (responce) {
                                debugger;
                                if (responce != null) {

                                    $("#WhishListCount").html(responce.data);
                                }
                            })
                    }

                    else {
                        debugger;
                        $(".icon-heart").removeClass("whislist");
                        for (var i = 0; i < responce.errors.length; i++) {
                            $("[data-valmsg-for='" + responce.errors[i].Key + "']").html(responce.errors[i].Errors[0]);
                            $.simplyToast(responce.errors[i].Errors[0], 'danger');
                        }
                    }


                }
            });

        }
        else {
            $(this).removeClass("whislist");
            $.ajax({
                url: url,
                type: 'post',
                //data: "year=" + year + "&month=" + Months,

                success: function (responce) {
                    debugger;

                    if (responce.status == true) {
                        $.simplyToast("Product Removed to your Whishlist", 'success');
                        $.ajax({
                            type: "Post",
                            url: '/Whislist/WhishListCount'


                        }).done(
                            function (responce) {
                                debugger;
                                if (responce != null) {

                                    $("#WhishListCount").html(responce.data);
                                }
                            })
                    }

                    else {
                        debugger;

                        $(".icon-heart").addClass("whislist");
                        for (var i = 0; i < responce.errors.length; i++) {
                            $("[data-valmsg-for='" + responce.errors[i].Key + "']").html(responce.errors[i].Errors[0]);
                            $.simplyToast(responce.errors[i].Errors[0], 'danger');
                        }
                    }


                }
            });
        }


    });
    //var products;
    //$(".productAddToCart").click(function () {
    //    var existingCookieData = $.cookie('CartProducts');

    //    if (existingCookieData != undefined && existingCookieData != "" && existingCookieData != null) {
    //        products = existingCookieData.split('-');
    //    }
    //    else {
    //        products = [];
    //    }

    //    var productID = $(this).attr('data-id');

    //    products.push(productID);

    //    $.cookie('CartProducts', products.join('-'), { path: '/' });

    //    updateCartProducts();

    //    swal("Done", "Product Added to Cart!", "success");
    //});
    $(".btn-add").click(function () {
        debugger;
        var url = $(this).attr("data-href");

        $.ajax({
            type: "Post",
            url: url,
            success: function (responce) {

                $("#exampleModalCenter").html(responce);
                $(".modal").modal("show");

                $btn.find("i").addClass("fa-plus");
                $btn.find("i").removeClass("fa-spinner");
                $btn.find("i").removeClass("fa-spin");
            },
            error: function (ex) {
                $(".modal").modal("show");
                $btn.find("i").addClass("fa-plus");
                $btn.find("i").removeClass("fa-spinner");
                $btn.find("i").removeClass("fa-spin");
            }
        });
    });

</script>

