@using Microsoft.AspNet.Identity;
@using Microflake.Core.ViewModel
@model Microflake.Core.ViewModel.Products.ListProduct
@{ ViewBag.Title = "FilterProduct";
    Layout = null;
}
<style>
    .whislist {
        color: red;
    }

    .niceselect_option {
        cursor: pointer;
        font-weight: 400;
        line-height: 40px;
        list-style: none;
        min-height: 40px;
        outline: none;
        padding-left: 18px;
        padding-right: 29px;
        text-align: left;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    .outofstock {
        color: red;
    }
</style>

<!--shop tab product start-->
<div class="tab-content">
    <div class="tab-pane grid_view fade show active" id="large" role="tabpanel">
        <div class="row">
            @if (Model != null && Model.Productlist.Count() > 0)

            {
                foreach (var item in Model.Productlist)
                {
                    if (item.Qty > 0)
                    {
                        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="single_product">
                                <div class="product_thumb">
                                    <a class="primary_img" @(item.IsHasVariation ? "href=/CustomProduct?Id=" + item.Id : "")><img src="@Config.Products@(item.Image)" style="width:100%" alt="@item.Name"></a>
                                </div>
                                <div class="product_content">
                                    <div class="tag_cate">
                                        <a href="#">@item.SubCategory.Name</a>
                                        <a href="#">@item.SubCategory.Category.Name</a>
                                    </div>
                                    <h3><a href="@((item.IsHasVariation) ? "/CustomProduct?Id" + item.Id : "/Home/Productdetail")">@item.Name</a></h3>
                                    <div class="price_box">
                                        @if (item.Discount < item.SellPrice)
                                        {
                                            <span class="old_price">$ @item.Discount</span>
                                            <span class="current_price">$@item.SellPrice</span>
                                        }
                                        else
                                        {
                                            <span class="current_price">$@item.SellPrice</span>
                                        }

                                    </div>
                                    @if (!item.IsHasVariation)
                                    {
                                        <div class="product_hover">
                                            <div class="action_links">
                                                <ul>
                                                    @if (!item.IsHasVariation)
                                                    {
                                                        <li class="add_to_cart"><a href="@Url.Action("AddtoCart", "shop", new { controller = "Shop", id = item.Id })" title="add to cart">add to cart</a></li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    }


                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="single_product">
                                <div class="product_thumb">
                                    <a class="primary_img"><img src="@Config.Products@(item.Image)" style="width:100%" alt="@item.Name"></a>
                                </div>
                                <div class="product_content">
                                    <div class="tag_cate">
                                        <a href="#">@item.SubCategory.Name</a>
                                        <a href="#">@item.SubCategory.Category.Name</a>
                                    </div>
                                    <h3><a href="">@item.Name</a></h3>
                                    <div class="price_box">
                                        @if (item.Discount < item.SellPrice)
                                        {
                                            <span class="old_price">$ @item.Discount</span>
                                            <span class="current_price">$@item.SellPrice</span>
                                        }
                                        else
                                        {
                                            <span class="current_price">$@item.SellPrice</span>
                                        }
                                        <div class="outofstock">Out Of Stock</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

            }
            else
            {
                <div class="alert alert-warning mt-5" role="alert">
                    Sorry No Record Exist
                </div>
            }

        </div>
    </div>
</div>
<!--shop tab product end-->
<!--shop toolbar start-->
<div class="shop_toolbar t_bottom">
    <div class="pagination">
        <ul>
            @if (Model.Pager.TotalItems > Model.Pager.PageSize)
            {
                if (Model.Pager.CurrentPage > 1)
                {
                    @*<li>
                            <a class="pageDataLink" data-href="@Url.Action("FilterProduct", "Shop")">
                                <i class="la la-long-arrow-left"></i>First
                            </a>
                        </li>*@
                    <li>
                        <a class="pageDataLink" data-href="@Url.Action("FilterProduct", "Shop", new { page = Model.Pager.CurrentPage - 1, sortBy = Model.SortBy, categoryID = Model.CategoryID })">
                            <i class="la la-long-arrow-left"></i>Prev
                        </a>
                    </li>
                }

                var startPage = 0;
                var endPage = 0;

                if (Model.Pager.CurrentPage <= 3 && Model.Pager.EndPage > 3)
                {
                    startPage = 1;
                    endPage = 3;
                }
                else
                {
                    startPage = Model.Pager.CurrentPage - 1;
                    endPage = Model.Pager.CurrentPage + 1;

                    if (endPage > Model.Pager.EndPage)
                    {
                        endPage = Model.Pager.EndPage;
                    }
                }

                for (var page = startPage; page <= endPage; page++)
                {
                    <li class=" @(page == Model.Pager.CurrentPage ? "current" : "")">
                        <a class="pageDataLink" data-href="@Url.Action("FilterProduct", "Shop", new { page = page, sortBy = Model.SortBy, categoryID = Model.CategoryID })">@page</a>
                    </li>
                }

                if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li>
                        <a class="pageDataLink" data-href="@Url.Action("FilterProduct", "Shop", new { page = Model.Pager.CurrentPage + 1, sortBy = Model.SortBy, categoryID = Model.CategoryID })">
                            Next <i class="la la-long-arrow-right"></i>
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
</div>

<input type="hidden" id="MaximumPrice" value="@Model.MaximumPrice" />
<input type="hidden" id="SearchTerm" value="@Model.SearchTerm" />
<input type="hidden" id="SortBy" value="@Model.SortBy" />
<input type="hidden" id="CategoryID" value="@Model.CategoryID" />
<input type="hidden" id="SubCategoryID" value="@Model.SubCategoryID" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(".pageDataLink").click(function () {
        var url = $(this).attr("data-href");

        if (url != "" || url != undefined) {
            GetData(url);
        }
    });

    $(".icon-heart").click(function () {

        var url = $(this).attr("data-href");
        debugger;
        var whishlist = document.getElementById("whislist_btn").classList.contains("whislist");
        if (whishlist == false) {

            $(this).addClass("whislist");
            $.ajax({
                url: url,
                type: 'post',
                //data: "year=" + year + "&month=" + Months,

                success: function (responce) {
                    debugger;

                    if (responce.status == true) {
                        $.simplyToast("Product Added to your Whishlist", 'success');
                        $.ajax({
                            type: "Post",
                            url: '/Whislist/WhishListCount'


                        }).done(
                            function (responce) {
                                debugger;
                                if (responce != null) {

                                    $("#WhishListCount").html(responce.data);
                                }
                            })
                    }

                    else {
                        debugger;
                        $(".icon-heart").removeClass("whislist");
                        for (var i = 0; i < responce.errors.length; i++) {
                            $("[data-valmsg-for='" + responce.errors[i].Key + "']").html(responce.errors[i].Errors[0]);
                            $.simplyToast(responce.errors[i].Errors[0], 'danger');
                        }
                    }


                }
            });

        }
        else {
            $(this).removeClass("whislist");
            $.ajax({
                url: url,
                type: 'post',
                //data: "year=" + year + "&month=" + Months,

                success: function (responce) {
                    debugger;

                    if (responce.status == true) {
                        $.simplyToast("Product Removed to your Whishlist", 'success');
                        $.ajax({
                            type: "Post",
                            url: '/Whislist/WhishListCount'


                        }).done(
                            function (responce) {
                                debugger;
                                if (responce != null) {

                                    $("#WhishListCount").html(responce.data);
                                }
                            })
                    }

                    else {
                        debugger;

                        $(".icon-heart").addClass("whislist");
                        for (var i = 0; i < responce.errors.length; i++) {
                            $("[data-valmsg-for='" + responce.errors[i].Key + "']").html(responce.errors[i].Errors[0]);
                            $.simplyToast(responce.errors[i].Errors[0], 'danger');
                        }
                    }


                }
            });
        }


    });

    $(".btn-add").click(function () {
        debugger;
        var url = $(this).attr("data-href");

        $.ajax({
            type: "Post",
            url: url,
            success: function (responce) {

                $("#exampleModalCenter").html(responce);
                $(".modal").modal("show");

                $btn.find("i").addClass("fa-plus");
                $btn.find("i").removeClass("fa-spinner");
                $btn.find("i").removeClass("fa-spin");
            },
            error: function (ex) {
                $(".modal").modal("show");
                $btn.find("i").addClass("fa-plus");
                $btn.find("i").removeClass("fa-spinner");
                $btn.find("i").removeClass("fa-spin");
            }
        });
    });
</script>

@{
    var showing = ((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + 1;
    var subtotal = Model.Pager.CurrentPage == Model.Pager.TotalPages? Model.Pager.TotalItems: ((showing - 1) + Model.Pager.PageSize);

    var pagerData = "<p> Showing " + showing + " - " + subtotal + " of " + Model.Pager.TotalItems + " Products</p>";
}

<script>
    $(document).ready(function () {
        $(".page_amount").html("@Html.Raw(pagerData)");
    });
</script>