@using Microflake.Core.ViewModel
@model Microflake.Core.ViewModel.Products.ListProduct
@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout2.cshtml"; }

@Html.HiddenFor(x => x.MaximumPrice)
<div class="shop_area">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-12">
                <!--sidebar widget start-->
                <div class="sidebar_widget">

                    <div class="widget_list widget_filter">
                        <h2>Filter by price</h2>
                        <form action="#">
                            <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"><div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span></div>
                            <input type="text" name="text" id="amount">
                            <button type="submit">Filter</button>

                        </form>
                    </div>
                    <div class="widget_list">
                        @foreach (var category in Model.Categorylist)
                        {
                            <h2 data-href="@Url.Action("FilterProduct", "Shop", new {  categoryID = category.Id ,sortBy = Model.SortBy })" class="dataLink mt-2 @(Model.CategoryID.HasValue && Model.CategoryID.Value == category.Id ? "checked" : string.Empty) " class="filter-title">@category.Name</h2>

                            <ul class="list-menu">
                                @foreach (var item in Model.SubCategorylist.Where(x => x.CategoryId == category.Id))
                                {
                                    <li class="check-item check-item-unChecked dataLink" data-href="@Url.Action("FilterProduct", "Shop", new {  subcategoryID = item.Id ,sortBy = Model.SortBy })">
                                        @*  <input data-href="@Url.Action("FilterProduct", "Shop", new {  subcategoryID = item.Id ,sortBy = Model.SortBy })" type="checkbox" class="dataLink @(Model.CategoryID.HasValue && Model.CategoryID.Value == category.Id ? "checked" : string.Empty) custom-control-input">*@
                                        @* <span class="custom-control-label">@item.Name </span>*@
                                        <a class=" @(Model.CategoryID.HasValue && Model.CategoryID.Value == category.Id ? "checked" : string.Empty) custom-control-input">@item.Name </a>
                                    </li>
                                }
                            </ul>

                        }
                    </div>

                    <div class="widget_list">
                        
                        <h2 class="filter-title">Sorting Filters</h2>

                        <ul class="list-menu">

                            <li class="check-item check-item-unChecked dataLink" data-href="@Url.Action("FilterProduct", "Shop", new { sortBy = (int)SortByEnum.Default, categoryID = Model.CategoryID  })">
                                @*  <input data-href="@Url.Action("FilterProduct", "Shop", new {  subcategoryID = item.Id ,sortBy = Model.SortBy })" type="checkbox" class="dataLink @(Model.CategoryID.HasValue && Model.CategoryID.Value == category.Id ? "checked" : string.Empty) custom-control-input">*@
                                @* <span class="custom-control-label">@item.Name </span>*@
                                <a class="custom-control-label">Default - Newest </a>
                            </li>
                            <li class="check-item check-item-unChecked dataLink" data-href="@Url.Action("FilterProduct", "Shop", new { sortBy = (int)SortByEnum.PriceLowToHigh, categoryID = Model.CategoryID  })">
                                @*  <input data-href="@Url.Action("FilterProduct", "Shop", new {  subcategoryID = item.Id ,sortBy = Model.SortBy })" type="checkbox" class="dataLink @(Model.CategoryID.HasValue && Model.CategoryID.Value == category.Id ? "checked" : string.Empty) custom-control-input">*@
                                @* <span class="custom-control-label">@item.Name </span>*@  
                                <a class="custom-control-label">Price: low to high </a>
                            </li>
                            <li class="check-item check-item-unChecked dataLink" data-href="@Url.Action("FilterProduct", "Shop", new { sortBy = (int)SortByEnum.PriceHighToLow, categoryID = Model.CategoryID  })">
                                @*  <input data-href="@Url.Action("FilterProduct", "Shop", new {  subcategoryID = item.Id ,sortBy = Model.SortBy })" type="checkbox" class="dataLink @(Model.CategoryID.HasValue && Model.CategoryID.Value == category.Id ? "checked" : string.Empty) custom-control-input">*@
                                @* <span class="custom-control-label">@item.Name </span>*@
                                <a class="custom-control-label">Price: high to low </a>
                            </li>
                            <li class="check-item check-item-unChecked dataLink" data-href="@Url.Action("FilterProduct", "Shop", new { sortBy = (int)SortByEnum.Between0to500, categoryID = Model.CategoryID  })">
                                @*  <input data-href="@Url.Action("FilterProduct", "Shop", new {  subcategoryID = item.Id ,sortBy = Model.SortBy })" type="checkbox" class="dataLink @(Model.CategoryID.HasValue && Model.CategoryID.Value == category.Id ? "checked" : string.Empty) custom-control-input">*@
                                @* <span class="custom-control-label">@item.Name </span>*@
                                <a class="custom-control-label">Price: 0 to 500 </a>
                            </li>
                            <li class="check-item check-item-unChecked dataLink" data-href="@Url.Action("FilterProduct", "Shop", new { sortBy = (int)SortByEnum.Between500to1000, categoryID = Model.CategoryID  })">
                                @*  <input data-href="@Url.Action("FilterProduct", "Shop", new {  subcategoryID = item.Id ,sortBy = Model.SortBy })" type="checkbox" class="dataLink @(Model.CategoryID.HasValue && Model.CategoryID.Value == category.Id ? "checked" : string.Empty) custom-control-input">*@
                                @* <span class="custom-control-label">@item.Name </span>*@
                                <a class="custom-control-label">Price: 500 to 1000 </a>
                            </li>
                            <li class="check-item check-item-unChecked dataLink" data-href="@Url.Action("FilterProduct", "Shop", new { sortBy = (int)SortByEnum.Between1000to1500, categoryID = Model.CategoryID  })">
                                @*  <input data-href="@Url.Action("FilterProduct", "Shop", new {  subcategoryID = item.Id ,sortBy = Model.SortBy })" type="checkbox" class="dataLink @(Model.CategoryID.HasValue && Model.CategoryID.Value == category.Id ? "checked" : string.Empty) custom-control-input">*@
                                @* <span class="custom-control-label">@item.Name </span>*@
                                <a class="custom-control-label">Price: 1000 to 1500 </a>
                            </li>
                            <li class="check-item check-item-unChecked dataLink" data-href="@Url.Action("FilterProduct", "Shop", new { sortBy = (int)SortByEnum.Between1500to2000, categoryID = Model.CategoryID  })">
                                @*  <input data-href="@Url.Action("FilterProduct", "Shop", new {  subcategoryID = item.Id ,sortBy = Model.SortBy })" type="checkbox" class="dataLink @(Model.CategoryID.HasValue && Model.CategoryID.Value == category.Id ? "checked" : string.Empty) custom-control-input">*@
                                @* <span class="custom-control-label">@item.Name </span>*@
                                <a class="custom-control-label">Price: 1500 to 2000 </a>
                            </li>
                        </ul>

                       
                    </div>


                    @*<div class="widget_list tag-cloud">
            <h2>Tags</h2>
            <div class="tag_widget">
                <ul>
                    <li><a href="#">asian</a></li>
                    <li><a href="#">brown</a></li>
                    <li><a href="#">euro</a></li>
                    <li><a href="#">fashion</a></li>
                    <li><a href="#">france</a></li>
                    <li><a href="#">hat</a></li>
                    <li><a href="#">t-shirt</a></li>
                    <li><a href="#">travel</a></li>
                    <li><a href="#">white</a></li>
                </ul>
            </div>
        </div>
        <div class="widget_list compare_p">
            <h2>Compare Products</h2>
            <div class="compare_item">
                <div class="compare_img">
                    <a href="#"><img src="/FrontWeb/assets/img/s-product/product.jpg" alt=""></a>
                </div>
                <div class="compare_info">
                    <h3><a href="#">Letraset animal</a></h3>
                    <div class="product_ratings">
                        <ul>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="price_box">
                        <span class="old_price">$65.00</span>
                        <span class="current_price">$60.00</span>
                    </div>
                </div>
            </div>
            <div class="compare_item ">
                <div class="compare_img">
                    <a href="#"><img src="/FrontWeb/assets/img/s-product/product2.jpg" alt=""></a>
                </div>
                <div class="compare_info">
                    <h3><a href="#">Letraset animal</a></h3>
                    <div class="product_ratings">
                        <ul>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="price_box">
                        <span class="old_price">$65.00</span>
                        <span class="current_price">$60.00</span>
                    </div>
                </div>
            </div>
            <div class="compare_btn">
                <a href="#">compare<i class="ion-checkmark-round"></i></a>
            </div>
        </div>
        <div class="widget_list Featured_p">
            <h2>Featured Products</h2>
            <div class="Featured_item">
                <div class="Featured_img">
                    <a href="#"><img src="/FrontWeb/assets/img/s-product/product5.jpg" alt=""></a>
                </div>
                <div class="Featured_info">
                    <h3><a href="#">Letraset animal</a></h3>
                    <div class="product_ratings">
                        <ul>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="price_box">
                        <span class="old_price">$65.00</span>
                        <span class="current_price">$60.00</span>
                    </div>
                </div>
            </div>
            <div class="Featured_item">
                <div class="Featured_img">
                    <a href="#"><img src="/FrontWeb/assets/img/s-product/product6.jpg" alt=""></a>
                </div>
                <div class="Featured_info">
                    <h3><a href="#">Donec eu furniture</a></h3>
                    <div class="product_ratings">
                        <ul>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="price_box">
                        <span class="old_price">$65.00</span>
                        <span class="current_price">$60.00</span>
                    </div>
                </div>
            </div>
            <div class="Featured_item bottom">
                <div class="Featured_img">
                    <a href="#"><img src="/FrontWeb/assets/img/s-product/product2.jpg" alt=""></a>
                </div>
                <div class="Featured_info">
                    <h3><a href="#">Letraset animal</a></h3>
                    <div class="product_ratings">
                        <ul>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="price_box">
                        <span class="old_price">$65.00</span>
                        <span class="current_price">$60.00</span>
                    </div>
                </div>
            </div>

        </div>*@
                    <a href="@Url.Action("Index", "Shop")" class="btn mb-4" style="background-color:#9d4d4a; color:white;">Reset Filters</a>
                </div>
                <!--sidebar widget end-->
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="shop-products-wrapper" id="ProductsDiv">


                    @{

                        Html.RenderPartial("FilterProduct", Model);

                    }
                   
                </div>

            </div>
    </div>
</div>
@section scripts{
    <script>
      $('input:checkbox').click(function() {
        $('input:checkbox').not(this).prop('checked', false);
      });
        $(".check-item").click(function () {
            debugger
            if ($(this).hasClass("check-item-unChecked")) {
                $(this).removeClass("check-item-unChecked");
                $(".check-item").removeClass("check-item-checked");
                $(".check-item").addClass("check-item-unChecked");
                $(this).addClass("check-item-checked");
            }
            else {
                $(this).removeClass("check-item-checked");
                $(this).addClass("check-item-unChecked");
            }
        })

         $(".dataLink").click(function () {

        var url = $(this).attr("data-href");

        if (url != "" || url != undefined) {
            GetData(url);
        }
        });
         function GetData(dUrl) {

		console.log("getdata in");
		//showLoader();

		$.ajax({
           url: dUrl,
			data: {
				minimumPrice : priceSlider.slider("values", 0),
				maximumPrice : priceSlider.slider("values", 1)
			}
		})
        .done(function (response) {
            console.log("done");

        	$("#ProductsDiv").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	console.log("fail");
        	
        })
		.always(function(){
			console.log("always");

		});
		console.log("getdata out");
	}


        // Price Range Slider
        var callTimeout;
          $("#min-price").val(0);


        var priceSlider = $( "#slider-range" ).slider({
        range: true,
        min: 0,
        max: @Model.MaximumPrice,
        values: [ 0, @Model.MaximumPrice ],
            slide: function (event, ui) {debugger
                var minPrice = ui.values[0];
                var maxPrice = ui.values[1];
                $("#min-price").val(minPrice);

                $("#max-price").val(maxPrice);
                $("#amount").val("£" + ui.values[0] + " - £" + ui.values[1]);
            clearTimeout(callTimeout);
                callTimeout = setTimeout(PriceRangeChange(ui.values[0], ui.values[1]), 500);
       }
    });
        $("#amount").val( "£" + $( "#slider-range" ).slider( "values", 0 ) +
       " - £" + $( "#slider-range" ).slider( "values", 1 ) );

      
        function PriceRangeChange(min,max){debugger
		$.ajax({
			url: '@Url.Action("FilterProduct", "Shop")',
			data: {
				searchTerm: $("#SearchTerm").val(),
				sortBy: $("#SortBy").val(),
                categoryID: $("#CategoryID").val(),

                minimumPrice: min,
                maximumPrice: max
			}
		})
        .done(function (response) {
        	$("#ProductsDiv").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	
        });
	}
        //
    </script>
}

