@using Microflake.TheComputerShop.ViewModel
@model Microflake.TheComputerShop.ViewModel.Products.ListProduct
@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout2.cshtml"; }

@Html.HiddenFor(x => x.MaximumPrice)
<div class="shop_area">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-12">
                <!--sidebar widget start-->
                <div class="sidebar_widget">
                    <div class="widget_list widget_categories">
                        <h2>Categories</h2>
                        <ul>
                            <li><a href="#">Clothing</a> </li>
                            <li><a href="#"> Men</a> </li>
                            <li><a href="#">Women</a> </li>

                        </ul>
                    </div>
                    <div class="widget_list widget_filter">
                        <h2>Filter by price</h2>
                        <form action="#">
                            <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"><div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span></div>
                            <input type="text" name="text" id="amount">
                            <button type="submit">Filter</button>

                        </form>
                    </div>


                    <div class="widget_list widget_brands">
                        <h2>Brands</h2>
                        <ul>
                            <li><a href="#">SamSung</a> <span>(1)</span> </li>
                        </ul>
                    </div>
                    <div class="widget_list widget_brands">
                        @foreach (var category in Model.Categorylist)
                        {
                            <h4 data-href="@Url.Action("FilterProduct", "Shop", new {  categoryID = category.Id ,sortBy = Model.SortBy })" class="dataLink @(Model.CategoryID.HasValue && Model.CategoryID.Value == category.Id ? "checked" : string.Empty) " class="filter-title">@category.English</h4>

                        <ul class="list-menu">
                            @foreach (var item in Model.SubCategorylist.Where(x => x.CategoryId == category.Id))
                            {


                                <li>
                                    <label class="custom-control">
                                        <input data-href="@Url.Action("FilterProduct", "Shop", new {  subcategoryID = item.Id ,sortBy = Model.SortBy })" type="checkbox" class="dataLink @(Model.CategoryID.HasValue && Model.CategoryID.Value == category.Id ? "checked" : string.Empty) custom-control-input">
                                        <span class="custom-control-label">@item.English </span>
                                    </label>
                                </li>
                            }
                        </ul>

                    }
                        <h2>Color</h2>
                        <ul>
                            <li><a href="#">Gold </a> <span>(4)</span></li>
                            <li><a href="#"> Green </a> <span>(6)</span></li>
                            <li><a href="#">White </a> <span>(10)</span></li>

                        </ul>
                    </div>

                    @*<div class="widget_list tag-cloud">
                        <h2>Tags</h2>
                        <div class="tag_widget">
                            <ul>
                                <li><a href="#">asian</a></li>
                                <li><a href="#">brown</a></li>
                                <li><a href="#">euro</a></li>
                                <li><a href="#">fashion</a></li>
                                <li><a href="#">france</a></li>
                                <li><a href="#">hat</a></li>
                                <li><a href="#">t-shirt</a></li>
                                <li><a href="#">travel</a></li>
                                <li><a href="#">white</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget_list compare_p">
                        <h2>Compare Products</h2>
                        <div class="compare_item">
                            <div class="compare_img">
                                <a href="#"><img src="/FrontWeb/assets/img/s-product/product.jpg" alt=""></a>
                            </div>
                            <div class="compare_info">
                                <h3><a href="#">Letraset animal</a></h3>
                                <div class="product_ratings">
                                    <ul>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                    </ul>
                                </div>
                                <div class="price_box">
                                    <span class="old_price">$65.00</span>
                                    <span class="current_price">$60.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="compare_item ">
                            <div class="compare_img">
                                <a href="#"><img src="/FrontWeb/assets/img/s-product/product2.jpg" alt=""></a>
                            </div>
                            <div class="compare_info">
                                <h3><a href="#">Letraset animal</a></h3>
                                <div class="product_ratings">
                                    <ul>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                    </ul>
                                </div>
                                <div class="price_box">
                                    <span class="old_price">$65.00</span>
                                    <span class="current_price">$60.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="compare_btn">
                            <a href="#">compare<i class="ion-checkmark-round"></i></a>
                        </div>
                    </div>
                    <div class="widget_list Featured_p">
                        <h2>Featured Products</h2>
                        <div class="Featured_item">
                            <div class="Featured_img">
                                <a href="#"><img src="/FrontWeb/assets/img/s-product/product5.jpg" alt=""></a>
                            </div>
                            <div class="Featured_info">
                                <h3><a href="#">Letraset animal</a></h3>
                                <div class="product_ratings">
                                    <ul>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                    </ul>
                                </div>
                                <div class="price_box">
                                    <span class="old_price">$65.00</span>
                                    <span class="current_price">$60.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="Featured_item">
                            <div class="Featured_img">
                                <a href="#"><img src="/FrontWeb/assets/img/s-product/product6.jpg" alt=""></a>
                            </div>
                            <div class="Featured_info">
                                <h3><a href="#">Donec eu furniture</a></h3>
                                <div class="product_ratings">
                                    <ul>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                    </ul>
                                </div>
                                <div class="price_box">
                                    <span class="old_price">$65.00</span>
                                    <span class="current_price">$60.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="Featured_item bottom">
                            <div class="Featured_img">
                                <a href="#"><img src="/FrontWeb/assets/img/s-product/product2.jpg" alt=""></a>
                            </div>
                            <div class="Featured_info">
                                <h3><a href="#">Letraset animal</a></h3>
                                <div class="product_ratings">
                                    <ul>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                    </ul>
                                </div>
                                <div class="price_box">
                                    <span class="old_price">$65.00</span>
                                    <span class="current_price">$60.00</span>
                                </div>
                            </div>
                        </div>

                    </div>*@

                </div>
                <!--sidebar widget end-->
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="shop-products-wrapper" id="ProductsDiv">


                    @{

                        Html.RenderPartial("FilterProduct", Model);

                    }
                   
                </div>

            </div>
    </div>
</div>
@section scripts{
    <script>
      $('input:checkbox').click(function() {
        $('input:checkbox').not(this).prop('checked', false);
    });
         $(".dataLink").click(function () {

        var url = $(this).attr("data-href");

        if (url != "" || url != undefined) {
            GetData(url);
        }
        });
         function GetData(dUrl) {

		console.log("getdata in");
		//showLoader();

		$.ajax({
           url: dUrl,
			data: {
				minimumPrice : priceSlider.slider("values", 0),
				maximumPrice : priceSlider.slider("values", 1)
			}
		})
        .done(function (response) {
            console.log("done");

        	$("#ProductsDiv").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	console.log("fail");
        	
        })
		.always(function(){
			console.log("always");

		});
		console.log("getdata out");
	}


        // Price Range Slider
        var callTimeout;
          $("#min-price").val(0);


        var priceSlider = $( "#slider-range" ).slider({
        range: true,
        min: 0,
        max: @Model.MaximumPrice,
        values: [ 0, @Model.MaximumPrice ],
            slide: function (event, ui) {debugger
                var minPrice = ui.values[0];
                var maxPrice = ui.values[1];
                $("#min-price").val(minPrice);

                $("#max-price").val(maxPrice);
                $("#amount").val("£" + ui.values[0] + " - £" + ui.values[1]);
            clearTimeout(callTimeout);
                callTimeout = setTimeout(PriceRangeChange(ui.values[0], ui.values[1]), 500);
       }
    });
        $("#amount").val( "£" + $( "#slider-range" ).slider( "values", 0 ) +
       " - £" + $( "#slider-range" ).slider( "values", 1 ) );

      
        function PriceRangeChange(min,max){debugger
		$.ajax({
			url: '@Url.Action("FilterProduct", "Shop")',
			data: {
				searchTerm: $("#SearchTerm").val(),
				sortBy: $("#SortBy").val(),
                categoryID: $("#CategoryID").val(),

                minimumPrice: min,
                maximumPrice: max
			}
		})
        .done(function (response) {
        	$("#ProductsDiv").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	
        });
	}
        //
    </script>
}

