@model Microflake.Core.ViewModel.CustomOrder.EditCustomOrder

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "inputForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="cars">@Microflake.Web.Language.Language.Order_Status</label>

        <select name="Status" class="form-control">
            <option value="Pending" @(Model.Status == "Pending" ? "selected" : string.Empty)>@Microflake.Web.Language.Language.Pending</option>
            <option value="In Progress" @(Model.Status == "In Progress" ? "selected" : string.Empty)>@Microflake.Web.Language.Language.In_Progress</option>
            <option value="Dispatched" @(Model.Status == "Dispatched" ? "selected" : string.Empty)>@Microflake.Web.Language.Language.Dispatched</option>
            <option value="Completed" @(Model.Status == "Completed" ? "selected" : string.Empty)>@Microflake.Web.Language.Language.Completed</option>
        </select>
        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
    </div>
    @*<div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <labels>IsPaid</labels>
                    <div class="toggle lg">

                        <label>

                            @if (Model.IsPaid)
                            {

                                <input id="switch-1" type="checkbox" checked><span class="button-indecator"></span>
                            }
                            else
                            {

                                <input id="switch-1" type="checkbox"><span class="button-indecator"></span>
                            }
                            <input name="IsPaid" hidden id="IsPaid" value="False" />
                        </label>
                    </div>
                </div>
            </div>
        </div>*@
    @*<div class="form-group">
            @Html.LabelFor(model => model.SellPrice, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.SellPrice, new { htmlAttributes = new { @class = "form-control",@readonly=true } })
            @Html.ValidationMessageFor(model => model.SellPrice, "", new { @class = "text-danger" })
        </div>*@
}
<script>
    $("select").select2();
    $("#IsPaid").hide();
    $("#switch-1").click(function () {
        debugger;
        var IsFeatured = $("#IsPaid").val();
        if (IsFeatured == "False") {
            $("#IsPaid").val("True");
        } else {
            $("#IsPaid").val("False");


        }
    });
</script>
