@model Microflake.Web.Areas.SuperAdmin.Models.CustomItemModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";

}
<style>
    .select-chip img, .select-cap img {
        cursor: pointer;
    }

    .chip-wrapper, .chip-title {
        display: none;
    }

    .owl-nav {
        display:none !important
    }

    .portfolio_thumb {
        text-align:center;
    }
</style>

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Cap Custimazor</h3>
                    <ul>
                        <li><a href="/">home</a></li>
                        <li>&gt;</li>
                        <li>Cap Custimazor</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--product details start-->
<div class="product_details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="col-lg-6 col-md-6">
                    <div class="product-details-tab">

                        <div id="img-1" class="zoomWrapper single-zoom">
                            <a href="#">
                                <img id="zoom1" src="" data-zoom-image="">
                            </a>
                        </div>

                        <div class="single-zoom-thumb">
                            <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                                <li>
                                    <a href="#" class="elevatezoom-gallery active" data-update data-image="" data-zoom-image="">
                                        <img class="zoom2 load-image" src="">
                                    </a>

                                </li>
                                <li>
                                    <a href="#" class="elevatezoom-gallery active" data-update data-image="" data-zoom-image="">
                                        <img class="zoom3 load-image" src="">
                                    </a>

                                </li>
                                <li>
                                    <a href="#" class="elevatezoom-gallery active" data-update data-image="" data-zoom-image="">
                                        <img class="zoom4 load-image" src="">
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product_d_right">
                    <form action="/CustomProduct/Checkout" method="get">

                        <h1>Cap Builder</h1>
                        <div class="product_meta">
                            <span>Colour</span>
                        </div>
                        <div class="row">
                            @foreach (var item in Model.Colors)
                            {
                                <div class="col-lg-2 col-md-3">
                                    <div class="single_portfolio">
                                        <div class="portfolio_thumb select-cap" data-id="@item.Id">
                                            <img src="@(Config.CustomProducts +  item.Image)" alt="">
                                            <label>@item.SellPrice GBP</label>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="product_meta chip-title" style="display:block">
                            <span>Front Chip</span>
                        </div>
                        <div class="row">
                            @foreach (var item in Model.Items)
                            {
                                <div class="col-lg-2 col-md-3">
                                    <div class="single_portfolio">
                                        <div class="portfolio_thumb select-chip1" data-id="@item.Id">
                                            <img src="@(Config.CustomProducts +  item.Image)" alt="">
                                            <label>@item.SellPrice GBP</label>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="product_meta chip-title" style="display:block">
                            <span>Bottom Chip</span>
                        </div>
                        <div class="row">
                            @foreach (var item in Model.Items)
                            {
                                <div class="col-lg-2 col-md-3">
                                    <div class="single_portfolio">
                                        <div class="portfolio_thumb select-chip2" data-id="@item.Id">
                                            <img src="@(Config.CustomProducts +  item.Image)" alt="">
                                            <label>@item.SellPrice GBP</label>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="product_variant quantity">
                            <label>quantity</label>
                            <input name="qty" min="1" max="100" value="1" type="number">
                        </div>
                        <div class="product_variant quantity" style="margin-left:-15px">
                            <button class="button" type="submit">buy now</button>
                        </div>
                        <input id="productId" type="hidden" value="" name="productId"/>
                        <input id="frontChip" type="hidden" value="" name="frontChip"/>
                        <input id="backChip" type="hidden" value="" name="backChip"/>
                    </form>
                    <div class="priduct_social">
                        <ul>
                            <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#" title="google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--product details end-->


@section Scripts{
    <script>
        var productId = 0;
        var frontChip = 0;
        var backChip = 0;

        $(".select-chip1").click(function () {
            $(".select-chip1").each(function () {
                $(this).css({ "border": "none" });
            })

            frontChip = $(this).attr("data-id");
            $("#frontChip").val(frontChip);
            $("#backChip").val(frontChip);

            $(this).css({ "border": "solid" });

            $.ajax(
                {
                    url: "/CustomProduct/ItemDetail?ProductId=" + productId + "&ItemId=" + frontChip
                }
            ).done(function (response) {
                $("#zoom1").attr("src", "@Config.CustomProducts" + response.FrontImage);

                $(".zoom2").attr("src", "@Config.CustomProducts" + response.FrontImage);
                $(".zoom2").parent().attr("data-image", "@Config.CustomProducts" + response.FrontImage);
                $(".zoom2").parent().attr("data-zoom-image", "@Config.CustomProducts" + response.FrontImage);

                $(".zoom3").attr("src", "@Config.CustomProducts" + response.BackImage);
                $(".zoom3").parent().attr("data-image", "@Config.CustomProducts" + response.BackImage);
                $(".zoom3").parent().attr("data-zoom-image", "@Config.CustomProducts" + response.BackImage);

                $(".zoom4").attr("src", "@Config.CustomProducts" + response.BottomImage);
                $(".zoom4").parent().attr("data-image", "@Config.CustomProducts" + response.BottomImage);
                $(".zoom4").parent().attr("data-zoom-image", "@Config.CustomProducts" + response.BottomImage);

            });
        });

        $(".select-chip2").click(function () {

            $(".select-chip2").each(function () {
                $(this).css({ "border": "none" });
            })

            backChip = $(this).attr("data-id");
            $("backChip").val(backChip);
            $(this).css({ "border": "solid" });

             $.ajax(
                {
                     url: "/CustomProduct/ItemDetail?ProductId=" + productId + "&ItemId=" + backChip
                }
            ).done(function (response) {
                 $(".zoom4").attr("src", "@Config.CustomProducts" + response.BottomImage);
                 $(".zoom4").parent().attr("data-image", "@Config.CustomProducts" + response.BottomImage);
                 $(".zoom4").parent().attr("data-zoom-image", "@Config.CustomProducts" + response.BottomImage);

                $("#zoom1").attr("src", "@Config.CustomProducts" + response.BottomImage);
                $("#zoom1").attr("data-zoom-image", "@Config.CustomProducts" + response.BottomImage);
            });
        });

        $(".select-cap").click(function () {
            $(".select-cap").each(function () {
                $(this).css({ "border": "none" });
            })

            $(".select-chip1").each(function () {
                $(this).css({ "border": "none" });
            })

            $(".select-chip2").each(function () {
                $(this).css({ "border": "none" });
            })
            $(this).css({ "border": "solid" });

            var url = $(this).find("img").attr("src");
            $("#zoom1").attr("src", url);
            $("#zoom1").attr("data-zoom-image", url);

            productId = $(this).attr("data-id");

            $("#productId").val(productId);

             $(".zoom2").attr("src","");
            $(".zoom2").parent().attr("data-image", "");
            $(".zoom2").parent().attr("data-zoom-image", "");

            $(".zoom3").attr("src", "");
            $(".zoom3").parent().attr("data-image", "");
            $(".zoom3").parent().attr("data-zoom-image", "");

            $(".zoom4").attr("src", "");
            $(".zoom4").parent().attr("data-image", "");
            $(".zoom4").parent().attr("data-zoom-image", "");
        });

        $(".load-image").click(function () {
            var url = $(this).attr("src");
            $("#zoom1").attr("src", url);
            $("#zoom1").attr("data-zoom-image", url);
        });
    </script>
}