@model Microflake.Web.Areas.SuperAdmin.Models.CustomItemModel
@{


}
<style>
    .select-chip img, .select-cap img {
        cursor: pointer;
    }

    .chip-wrapper, .chip-title {
        display: none;
    }

    .owl-nav {
        display: none !important
    }

    .portfolio_thumb {
        text-align: center;
    }

    #image-wrapper {
        width: 70%;
        margin: auto;
    }

    .product-item-list {
        width: 100%;
        text-align: center;
    }

        .product-item-list li {
            display: inline-block;
            cursor: pointer;
        }

            .product-item-list li img {
                width: 150px !important;
            }

            .product-item-list li:first-child {
                margin-right: 10px;
            }

    .select-chip1, .select-chip2 {
        cursor: pointer;
    }

    .select-shadow {
        box-shadow: -3px -3px 10px 3px #c09578, 3px 3px 10px 3px #c09578;
    }


    #btn-submit {
        border: 0;
        font-size: 16px;
        margin-left: 20px;
        background: #c09578;
        height: 42px;
        line-height: 42px;
        text-transform: capitalize;
        min-width: 270px;
    }

    #btn-submit:hover {
        background: #242424;
    }

    #error-message {
        color:red;
        display:block;
        margin-bottom:10px;
    }
</style>

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>CAP BUILDER</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!--product details start-->
<div class="product_details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="jzoom">
                    <img id="zoom1" src="">
                </div>
                <ul class="product-item-list">
                    <li>
                        <img id="zoom2" class="load-image" src="">

                    </li>
                    <li>
                        <img id="zoom3" class="load-image" src="">
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product_d_right">
                    <form id="CustomAddToCart" action="/Shop/CustomAddToCart" method="get">
                        <div class="product_meta" hidden>
                            <span>Colour</span>
                        </div>
                        <div class="row" hidden>
                            @foreach (var item in Model.Colors.Take(6))
                            {
                                <div class="col-lg-2 col-md-3">
                                    <div class="single_portfolio">
                                        <div id="select-cap-@item.Id" class="portfolio_thumb select-cap" data-id="@item.Id">
                                            <img src="@(Config.Products +  item.Image)" alt="">
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="product_meta chip-title" style="display:block">
                            <span>Front Chip</span>
                        </div>
                        <div class="row">
                            @foreach (var item in Model.Items.Take(6))
                            {
                                <div class="col-lg-2 col-md-3">
                                    <div class="single_portfolio">
                                        <div class="portfolio_thumb select-chip1" data-id="@item.Id">
                                            <img src="@(Config.Products +  item.Image)" alt="">
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="product_meta chip-title" style="display:block">
                            <span>Bottom Chip</span>
                        </div>
                        <div class="row">
                            @foreach (var item in Model.Items.Take(6))
                            {
                                <div class="col-lg-2 col-md-3">
                                    <div class="single_portfolio">
                                        <div class="portfolio_thumb select-chip2" data-id="@item.Id">
                                            <img src="@(Config.Products +  item.Image)" alt="">
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="product_variant quantity">
                            <label>quantity</label>
                            <input name="qty" min="1" max="100" value="1" type="number">
                        </div>
                        <span id="error-message"></span>
                        <div class="product_variant quantity" style="margin-left:-20px">
                            <input id="btn-submit" class="button" type="submit" value="Add to Cart">
                        </div>
                        <input id="productId" type="hidden" value="" name="productId" />
                        <input id="frontChip" type="hidden" value="" name="frontChip" />
                        <input id="backChip" type="hidden" value="" name="backChip" />
                    </form>
                    <div class="priduct_social">
                        <ul>
                            <li><a href="https://api.whatsapp.com/send?text=@(HttpContext.Current.Request.Url.AbsoluteUri) data-action="share/whatsapp/share" target="_blank" title="share on whatsapp"><i class="fa fa-whatsapp"></i></a></li>
                            <li><a href="https://www.facebook.com/sharer.php?u=@(HttpContext.Current.Request.Url.AbsoluteUri)" target="_blank" title="share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/intent/tweet?original_referer==@(HttpContext.Current.Request.Url.AbsoluteUri)&url==@(HttpContext.Current.Request.Url.AbsoluteUri)&text=Buy Cap" target="_blank" title="share on twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="http://pinterest.com/pin/create/button/?url=@(HttpContext.Current.Request.Url.AbsoluteUri)&description=Buy cap" target="_blank" title="share on pinterest"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--product details end-->


@section Scripts{
    <link href="~/assets/vendors/image-zoom/dist/css/image-zoom.css" rel="stylesheet" />
    <script src="~/assets/vendors/image-zoom/dist/js/image-zoom.min.js"></script>
    <script>
        var productId = 0;
        var frontChip = 0;
        var backChip = 0;

        $(".select-chip1").click(function () {
            $(".select-chip1").each(function () {
                $(this).removeClass("select-shadow");
            })


            $(".select-chip2").each(function () {
                $(this).removeClass("select-shadow");
            })

            frontChip = $(this).attr("data-id");
            backChip = $(this).attr("data-id");
            $("#frontChip").val(frontChip);
            $("#backChip").val(frontChip);

            $(this).addClass("select-shadow");

            $.ajax(
                {
                    url: "/CustomProduct/ItemDetail?ProductId=" + productId + "&ItemId=" + frontChip
                }
            ).done(function (response) {
                $(".jzoom").html('<img id="zoom1" src="' + url + '">');
                $("#error-message").html("");

                $("#zoom1").attr("src", "@Config.CustomProducts" + response.FrontImage);
                $("#zoom2").attr("src", "@Config.CustomProducts" + response.FrontImage);
                $("#zoom3").attr("src", "@Config.CustomProducts" + response.BottomImage);

                $('#zoom1').imageZoom({
                    zoom: 200
                });

                $([document.documentElement, document.body]).animate({
                    scrollTop: $(".jzoom").offset().top
                }, 1000);
            });
        });

        $(".select-chip2").click(function () {

            $(".select-chip2").each(function () {
                $(this).removeClass("select-shadow");
            })

            backChip = $(this).attr("data-id");
            $("#backChip").val(backChip);
            $(this).addClass("select-shadow");

             $.ajax(
                {
                     url: "/CustomProduct/ItemDetail?ProductId=" + productId + "&ItemId=" + backChip
                }
             ).done(function (response) {
                 $(".jzoom").html('<img id="zoom1" src="' + url + '">');

                $("#zoom3").attr("src", "@Config.CustomProducts" + response.BottomImage);
                $("#zoom1").attr("src", "@Config.CustomProducts" + response.BottomImage);

                $('#zoom1').imageZoom({
                    zoom: 200
                });

                 $([document.documentElement, document.body]).animate({
                     scrollTop: $(".jzoom").offset().top
                 }, 1000);
            });
        });

        $(".select-cap").click(function () {
            $(".select-cap").each(function () {
                $(this).removeClass("select-shadow");
            })

            $(".select-chip1").each(function () {
                $(this).removeClass("select-shadow");
            })

            $(".select-chip2").each(function () {
                $(this).removeClass("select-shadow");
            })

            $(this).addClass("select-shadow");

            var url = $(this).find("img").attr("src");
            $(".jzoom").html('<img id="zoom1" src="' + url + '">');
            productId = $(this).attr("data-id");

            $("#productId").val(productId);
            $("#frontChip").val("0");
            $("#backChip").val("0");
            frontChip = 0;
            backChip = 0;

            $("#zoom2").attr("src","");
            $("#zoom3").attr("src", "");

            $(document).ready(function () {
                $('#zoom1').imageZoom({
                    zoom: 200
                });
            });

        });

        $('.load-image').click(function () {
            var url = $(this).attr("src");
            $(".jzoom").html('<img id="zoom1" src="' + url + '">');


            $('#zoom1').imageZoom({
                zoom: 200
            });
        });

        $("#CustomAddToCart").submit(function (event) {
            if (frontChip == 0 || backChip == 0) {
                event.preventDefault();
                $("#error-message").html("Please select at least one badge.");
            }
        });
    </script>

    <script>
        @{ var id = Request.QueryString["Id"];}

        $("#select-cap-@id").addClass("select-shadow");

        var url = $("#select-cap-@id").find("img").attr("src");
        $(".jzoom").html('<img id="zoom1" src="' + url + '">');

        productId = $("#select-cap-@id").attr("data-id");

        $("#productId").val(productId);
        

        $(document).ready(function () {
            $('#zoom1').imageZoom({
                zoom: 200
            });
        });
    </script>
}