@{ 
    var lang = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName.ToLower();

}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@Microflake.Web.Language.Language.Home   || @Microflake.Core.Lang.Validations.Ecommerce </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/content/FrontEnd/img/favicon.ico">
    <!-- All CSS Hear -->
    <link rel="stylesheet" href="/content/FrontEnd/css/bootstrap.min.css">
    <link rel="stylesheet" href="/content/FrontEnd/css/font-awesome.min.css">
    <link rel="stylesheet" href="/content/FrontEnd/css/simple-line-icons.css">
    <link rel="stylesheet" href="/content/FrontEnd/css/animate.css">
    <link rel="stylesheet" href="/content/FrontEnd/css/nice-select.css">
    <link rel="stylesheet" href="/content/FrontEnd/css/jquery-ui.css">
    <link rel="stylesheet" href="/content/FrontEnd/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/content/FrontEnd/css/mainmenu.css">
    <!-- Style CSS Hear -->
    <link rel="stylesheet" href="/content/FrontEnd/style.css">
    <link rel="stylesheet" href="/content/FrontEnd/css/responsive.css">
    <script src="/content/FrontEnd/js/vendor/modernizr-2.8.3.min.js"></script>
    <link href="~/Scripts/simplytoast/simply-toast.css" rel="stylesheet" />
</head>
<style>

    .mt-100 {
        margin-top: 150px
    }

    .filter-group {
        border-bottom: 1px solid #e4e4e4
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0.37rem
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    }

    .filter-group .card-header {
        border-bottom: 0
    }

    .icon-control {
        margin-top: 6px;
        float: right;
        font-size: 80%
    }

    .list-menu {
        list-style: none;
        margin: 0;
        padding-left: 0
    }

        .list-menu a {
            color: #343a40
        }

    a {
        text-decoration: none !important;
        background-color: transparent
    }

    .checkbox-btn {
        position: relative
    }

        .checkbox-btn input {
            position: absolute;
            z-index: -1;
            opacity: 0
        }

            .checkbox-btn input:checked ~ .btn {
                border-color: #3167eb;
                background-color: #3167eb;
                color: #fff
            }

    .btn-light {
        display: inline-block;
        font-weight: 600;
        color: #343a40;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #eee;
        border: 1px solid #eee;
        padding: 0.45rem 0.85rem;
        font-size: 10px;
        line-height: 1.5;
        border-radius: 0.37rem
    }

        .btn-light:hover {
            background-color: #fff;
            border-color: #989898
        }

    .btn-medium {
        font-size: 12px;
        padding: 10px 22px;
        display: inline-block;
        margin-right: 20px;
        letter-spacing: 2px;
        border: 1px solid #157af6;
        width: 100%
    }

    .highlight-button:hover {
        background-color: #157af6;
        border: 2px solid #157af6;
        color: #fff
    }

    .custom-control {
        position: relative;
        display: block;
        min-height: 1.5rem;
        padding-left: 1.5rem
    }

</style>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience. Thanks</p>
    <![endif]-->
    <!-- Add your application content here -->

    <div class="wrapper">
        <header>
            <!-- header-top-area start -->
            <div id="stickymenu" class="header-inner clearfix bg-white solidblockmenu">
                <div class="container-inner">
                    <!-- logo-container start -->
                    <div class="logo-container">
                        <div class="logo">
                            <a href="/Home/Index"><img src="/content/FrontEnd/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <!-- logo-container end -->
                    <!-- main-menu-area start -->
                    <div class="horizontal-menu main-menu-area d-none d-lg-block">
                        <nav>
                            <ul>
                                <li>
                                    <a href="/Home/Index">@Microflake.Web.Language.Language.Home  </a>

                                </li>
                                @*<li class="mega_parent">
                                    <a href="/Shop/Index">Shop</a>

                                </li>*@
                                <li>
                                    <a href="/Shop/Index">@Microflake.Web.Language.Language.Shop <i class="icon-arrow-down"></i></a>

                                    <div id="CurrencyList">

                                    </div>
                                </li>

                                <li class="mega_parent">
                                    <a href="/SpecialOffers/Index">@Microflake.Web.Language.Language.SpecialOffers</a>

                                </li>
                                <li class="mega_parent">
                                    <a href="/Home/AboutUs">@Microflake.Web.Language.Language.AboutUs</a>

                                </li>
                                <li class="mega_parent">
                                    <a href="/Home/ContactUs">@Microflake.Web.Language.Language.ContactUs</a>

                                </li>
                                <li>
                                    <div class="lang-option">
                                        <select class="form-control language" title="" data-width="150px">
                                            @if (lang == "ar")
                                            {
                                                <option value="en">English</option>
                                                <option value="ar" selected>Arabic</option>
                                            }
                                            else
                                            {
                                                <option value="en" selected class="eng-flag">English</option>
                                                <option value="ar">Arabic</option>
                                            }

                                        </select>
                                    </div>
                                </li>
                                @*<li>
                                    <a href="index.html">Currency <i class="icon-arrow-down"></i></a>
                                    <div id="CurrencyList">

                                    </div>
                                </li>*@
                            </ul>
                        </nav>
                    </div>
                    <!-- main-menu-area end -->
                    <!-- box-right start -->
                    <div class="box-right">

                        <!-- search-box-area start -->
                        <div class="search-box-area">
                            <span class="sidebar-trigger-search"><i class="icon-magnifier icons"></i></span>
                        </div>
                        <!-- search-box-area end -->
                        <!-- box-setting start -->
                        <div class="box-setting">
                            <div class="btn-group">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a href="/Whislist/Index" class="settings-box-inner " @*data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"*@>
                                        <i class="icon-heart icons"></i><span id="WhishListCount">0</span>
                                    </a>

                                }
                                @*}
                                else
                                {
                                    <a class="settings-box-inner Whishlisherror" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-heart icons"></i><span class="WhishListCount">0</span>
                                    </a>

                                }*@


                            </div>

                            <div class="btn-group">
                                <button class="settings-box-inner dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="icon-settings icons"></i>
                                </button>
                                <div class="dropdown-menu setting-content">
                                    <div class="account">
                                        <button class="setting-btn">@Microflake.Web.Language.Language.MyAccount <i class="icon-arrow-down"></i></button>
                                        <ul class="setting-list">
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <li><a href="/UserDashboard/Index">@Microflake.Web.Language.Language.MyAccount</a></li>
                                                <li><a href="/Account/Logoff">@Microflake.Web.Language.Language.Logout</a></li>


                                            }
                                            else
                                            {
                                                <li><a href="/Account/login">@Microflake.Web.Language.Language.Login</a></li>
                                                <li><a href="/Account/Register">@Microflake.Web.Language.Language.Register</a></li>

                                            }

                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <!-- box-setting end -->
                        <!-- top-shopoing-cart start -->
                        <div id="top-shopoing-cart" class="btn-group">
                            <button class="shopping-cart btn-load dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-basket-loaded icons"></i>
                                <span class="top-cart-total">
                                    <span class="item-text-number">
                                        <a class=" active" href="@Url.Action("Checkout", "Shop")"><span id="cartProductsCount">0</span></a>
                                    </span>
                                </span>
                            </button>
                            <div class="dropdown-menu">
                                <div id="Daily">

                                </div>
                            </div>
                        </div>
                        <!-- top-shopoing-cart end -->
                    </div>
                    <!-- box-right end -->
                </div>
                <!-- mobile-menu-area start-->
                <div class="mobile-menu-area d-block d-lg-none">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul>
                                <li>
                                    <a href="/Home/Index">Home </a>

                                </li>
                                <li class="mega_parent">
                                    <a href="/Shop/Index">Shop</a>

                                </li>
                                <li class="mega_parent">
                                    <a href="/Home/AboutUs">About Us</a>

                                </li>
                                <li class="mega_parent">
                                    <a href="/Home/ContactUs">Contact Us</a>

                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- mobile-menu-area end-->
            </div>
            <!-- header-top-area end -->
            <!-- main-search start -->
            <div class="main-search-active">
                <div class="sidebar-search-icon">
                    <button class="search-close"><span class="icon-close"></span></button>
                </div>
                <div class="sidebar-search-input">
                    <form role="search" method="get" action="@Url.Action("Index", "Shop")">
                        <div class="form-search">
                            <input name="searchTerm" id="search" class="input-text" value="" placeholder="Search entire store here ..." type="search">
                            <button class="search-btn" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- main-search start -->
        </header>
        @RenderBody()
        <footer class="footer-area bg-black mt-100">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <!-- footer-top start -->
                        <div class="footer-top">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="footer-content mb-30">
                                        <a href="index-2.html" class="logo-footer"><img alt="logo-footer" src="/Content/FrontEnd/img/logo/logo-2.png"></a>
                                        <ul class="footer-contact">
                                            <li class="address">
                                                Address : No 40 Baria Sreet 133/2,
                                                NewYork, USA.
                                            </li>
                                            <li class="phone">Phone: +(1234) 567 890</li>
                                            <li class="email">Email: Infor@t90.com</li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="single-footer-wrap mb-30">
                                        <div class="footer-title"><h5>Information</h5></div>
                                        <div class="footer-content">
                                            <ul class="text-content">
                                                <li><a href="/Home/AboutUS">About Us</a></li>
                                                <li><a href="/Home/ContactUS">Contact US</a></li>
                                                <li><a href="#">Privacy Policy</a></li>
                                                <li><a href="#">Terms &amp; Conditions</a></li>
                                               
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="single-footer-wrap mb-30">
                                        <div class="footer-title"><h5>Extras</h5></div>
                                        <div class="footer-content">
                                            <ul class="text-content">
                                                <li><a href="/Shop/Index">Shop Now</a></li>
                                                <li><a href="/Home/Index">Best Products</a></li>
                                                <li><a href="#">Affiliate</a></li>
                                                <li><a href="#">Specials</a></li>
                                                <li><a href="#">Returns</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="single-footer-wrap mb-30">
                                        <div class="footer-title"><h5>Follow us</h5></div>
                                        <div class="footer-content">
                                            <ul class="text-content">
                                                <li><a href="#">twitter</a></li>
                                                <li><a href="#"> google</a></li>
                                                <li><a href="#">facebook</a></li>
                                                <li><a href="#">youtube</a></li>
                                                <li><a href="#">Instagram</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- footer-top end -->
                    </div>
                </div>
            </div>
            <!-- footer-bottom end -->
            <!-- footer-bottom start -->
            <div class="footer-bottom border-top-dashed">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="footer-copyright">
                                <p>Copyright © 2022 <a href="#">ITQ Plus</a> <span>All Right Reserved.</span></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="footer-payment">
                                <img src="img/icon/payment.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom end -->
        </footer>

        @*<footer class="footer-area pt-100">
             newsletter-area start
            <div class="newsletter-area newletter-bg ptb-120">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title text-center mb-30">
                                <h4>our news</h4>
                                <h2>newsletter signup</h2>
                                <div class="module-description">
                                    <p>Subscribe to our email list and stay up-to-date with all our anwesome releases and latest updates.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="newleter-content">
                                <form id="sub-form" class="subscribe-box">
                                    <input type="text" required name="email" placeholder="Enter you email address here...">
                                      <a href="#" id="mc-submit" class="subscribe-btn">Subscribe !</a>
                                    <button type="submit" id="mc-submit" class="subscribe-btn">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             newsletter-area end
             footer-bottom start
            <div class="footer-bottom bg-black">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="footer-copyright">
                                <p>Copyright &copy; 2018 <a href="#">T90 Themes</a> <span>All Right Reserved.</span></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="social-follow">
                                <ul class="social-link-follow">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             footer-bottom end
        </footer>*@



        <!-- Modal -->
        <div class="modal fade modal-wrapper" id="exampleModalCenter">

        </div>








    </div>
    <!-- modal area start-->
    @*<div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-x"></i></span>
                    </button>
                    <div class="modal_body">

                    </div>
                </div>
            </div>
        </div>*@
    <!-- modal area end-->
    <!-- jquery -->
    <script src="/content/FrontEnd/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- all plugins JS hear -->
    <script src="/content/FrontEnd/js/popper.min.js"></script>
    <script src="/content/FrontEnd/js/bootstrap.min.js"></script>
    <script src="/content/FrontEnd/js/owl.carousel.min.js"></script>
    <script src="/content/FrontEnd/js/jquery.mainmenu.js"></script>
    <script src="/content/FrontEnd/js/ajax-email.js"></script>
    <script src="/content/FrontEnd/js/plugins.js"></script>
    <!-- main JS -->
    <script src="~/content/FrontEnd/jquery.cookie.js"></script>
    <script src="/content/FrontEnd/js/main.js"></script>
    <script src="~/Scripts/simplytoast/simply-toast.min.js"></script>
    @RenderSection("Scripts", false)
    <script>
         var CurrentPageUrl = "";
        CurrentPageUrl = window.location.href;
        $("#sub-form").submit(function (event) {
            event.preventDefault();
            debugger
            $.ajax({
                type: "Post",
                url: '/Subscribers/Create',
                data: $("#sub-form").serialize()

            }).done(
                function (responce) {
                    debugger;
                    if (responce.status == true) {

                        $.simplyToast("Thanks For Subscribing ", 'success');
                        $("#sub-form").find("input[type=text], textarea,input[type=email]").val("");
                    } else {
                        debugger;
                        for (var i = 0; i < responce.errors.length; i++) {
                            $("[data-valmsg-for='" + responce.errors[i].Key + "']").html(responce.errors[i].Errors[0]);
                        }
                        //Swal.fire(
                        //    {
                        //        icon: 'error',
                        //        title: 'Oops...',
                        //        text: responce.Message,
                        //    });

                    }
                })
                .debugger(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("F");
                });
        });
       
        $(".language").change(function () {

            window.location.href = "/home/Language?Name=" + $(this).val() + "&url=" + CurrentPageUrl;
        });

        $.ajax({
            type: "Post",
            url: '/Whislist/WhishListCount'


        }).done(
            function (responce) {

                if (responce != null) {
                    debugger
                    $("#WhishListCount").html(responce.data);
                }
            })





        $.ajax({
            type: "Post",
            url: '/Shop/ProductCount'
        }).done(
            function (responce) {

                if (responce != null) {

                    $("#cartProductsCount").html(responce);
                } else {
                    debugger;
                    $("#Daily").html(responce.message)
                }
            })


        $(".Whishlisherror").click(function () {

            $.simplyToast("Please Login First To View Whishlist", 'danger');

        });

        $(".btn-load").click(function () {



            $.ajax({
                type: "Post",
                url: '/Shop/CartItemsModel'


            }).done(
                function (responce) {

                    if (responce != null) {
                        $(".hidetable").hide();
                        $("#Daily").html(responce);
                    } else {
                        debugger;
                        $("#Daily").html(responce.message)
                    }
                })

        });

        $.ajax({
            type: "Post",
            url: '/Currency/CurrencyList'


        }).done(
            function (responce) {
                debugger;
                if (responce != null) {

                    $("#CurrencyList").html(responce);
                }
            })



    </script>
    @if (lang == "ar")
    {
        <script>

            var dataTableLang = arabic;

            $(".language").select2({
                templateResult: function (language) {
                    var $span = $("<span><img src='/public/flags/" + language.id + "_flag.png' width='25'/></span>");
                    return $span;
                },
                templateSelection: function (language) {
                    var $span = $("<span><img src='/public/flags/" + language.id + "_flag.png' width='25'/></span>");
                    return $span;
                }
            });
        </script>
    }
    else
    {
        <script>

            var dataTableLang = english;

            $(".language").select2({
                templateResult: function (language) {
                    var $span = $("<span><img src='/public/flags/" + language.id + "_flag.png' width='25'/></span>");
                    return $span;
                },
                templateSelection: function (language) {
                    var $span = $("<span><img src='/public/flags/" + language.id + "_flag.png' width='25'/></span>");
                    return $span;
                }
            });
        </script>
    }
    @if (lang == "ar")
    {
        <script>
            currentLanguage = "ar";
        </script>
    }
    else
    {
        <script>
            currentLanguage = "en";
        </script>
    }
</body>
</html>
