@model Microflake.Core.ViewModel.Orders.OrderDetail

@{
    ViewBag.Title = "Detail";
}

@*<div class="app-title">
    <div>
        <h1><i class="fa fa-file-text-o"></i> Order Detail</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a>Order Detail</a></li>
    </ul>
</div>*@

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <section class="invoice">
                <div class="row mb-4">
                   
                    <div class="col-12">
                        <h5 class="text-left"><strong>Order Created</strong>Date: 01/01/2016</h5>
                    </div>
                </div>
                <div class="row invoice-info">
                    <div class="col-6">
                        <address><strong>Name</strong> Zeeshan Munawar<br><strong>Email:</strong> hello@vali.com</address>
                    </div>
                    <div class="col-6">
                        <address><strong>Order Id: 12312</strong><br><strong>Address</strong>795 Folsom Ave, Suite 600 San Francisco, CA 94107 </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderDetails)
                                {
                                    var rate = item.Product.SellPrice * ViewBag.Currency;

                                    <tr>

                                        <td>
                                            <img id="imagePreview" src="@Config.Products@(item.Product.Image)" style="height:100px; width:100px;" onerror="this.src='/Public/default-image.jpg';" />
                                            @*@if (item.Product.IsHasVariation == true)
                                            {
                                                <img src="@Config.Products@(item.BackBadge?.Image)" style="height:50px; width:50px;">
                                                <img src="@Config.Products@(item.FrontBadge?.Image)" style="height:50px; width:50px;">
                                            }*@
                                        </td>
                                        <td>@item.Product.Name<strong> × @item.Product.Qty</strong></td>
                                        <td>@ViewBag.CurrencySimbal @item.Product.SellPrice</td>

                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                @*<tr>
                                    <th>Cart Subtotal</th>
                                    <td>$215.00</td>
                                </tr>
                                <tr>
                                    <th>Shipping</th>
                                    <td><strong>$5.00</strong></td>
                                </tr>*@
                                <tr class="order_total">
                                    <th>Order Total</th>
                                    <th></th>
                                    @{
                                        var Total = Model.Total * ViewBag.Currency;
                                    }
                                    <th><strong>@Total</strong></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                @*<div class="row d-print-none mt-2">
                    <div class="col-12 text-right"><a class="btn btn-primary" href="javascript:window.print();" target="_blank"><i class="fa fa-print"></i> Print</a></div>
                </div>*@
            </section>
        </div>
    </div>
</div>

